* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

header::before {
  content: '';
  background: url("../img/line-header.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 12px;
  display: block;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__logo img {
  width: 100%;
}

.header-top__location a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
}

.header-top__location-city {
  display: block;
  position: relative;
}

.header-top__location-city::before {
  content: '';
  background: url("../img/rec.svg") center no-repeat;
  background-size: cover;
  width: 4px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -9px;
}

.header-top__location-lang {
  border-bottom: 1px dashed #999999;
}

.header-top__phnoe a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  display: block;
}

.header-top__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
  position: relative;
}

.header-top__search input {
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  padding: 13px 16px;
  width: 100%;
}

.header-top__search input::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.header-top__search input::-moz-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.header-top__search input:-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.header-top__search input::-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.header-top__search input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.header-top__search .mob-search {
  display: none;
}

.header-top__privat {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 220px;
}

.header-top__privat li {
  margin-right: 20px;
}

.header-top__privat li:last-child {
  margin-right: 0;
}

.header-top__privat li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.header-top__privat li a:hover {
  color: #FF0000;
}

.header-top__privat-room::before {
  content: '';
  background: url("../img/room.svg") center no-repeat;
  background-size: cover;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.header-top__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__basket .mob-count {
  display: none;
}

.header-top__basket-img {
  margin-right: 8px;
}

.header-top__basket-img img {
  width: 100%;
}

.header-top__basket-name p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.header-top__basket-name span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #6F6F6F;
}

.basket-qny::after {
  content: '/';
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #6F6F6F;
}

.drop-down::before {
  content: '';
  background: url("../img/rec.svg") center no-repeat;
  background-size: cover;
  width: 4px;
  height: 4px;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
}

nav {
  background: #343434;
}

menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  padding: 25px 0;
}

menu li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  transition: linear .2s;
}

menu li a:hover {
  opacity: .8;
}

.drp-menu {
  position: relative;
}

.drp-menu:before {
  content: '';
  background: url("../img/menu-drp.svg") center no-repeat;
  background-size: cover;
  width: 24px;
  height: 5px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}

.product-card {
  margin-top: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card__img {
  margin-right: 50px;
  position: relative;
}

.product-slide {
  margin-left: 77px;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 450px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-label {
  position: absolute;
  top: 10px;
  left: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
}

.product-thumb {
  width: 60px;
  float: left;
  margin-right: -60px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.product-thumb img {
  position: absolute;
  width: 100%;
  padding: 5px;
}

.product-thumb .slick-prev.slick-arrow {
  font-size: 0;
  background: url("../img/prev.svg") center no-repeat;
  width: 60px;
  height: 15px;
}

.product-thumb .slick-next.slick-arrow {
  font-size: 0;
  background: url("../img/next.svg") center no-repeat;
  width: 60px;
  height: 15px;
}

.product-thumb .product-thumb__slide {
  height: 60px !important;
  margin: 1px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.product-thumb .product-thumb__slide.slick-slide {
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px 0;
}

.product-thumb .product-thumb__slide.slick-slide.slick-current {
  border: 1px solid #FF0000;
}

.label-btns {
  margin-left: auto;
}

.label-btns a {
  margin-right: 18px;
}

.label-super {
  background: #DB00FF;
  border: 1px solid #DB00FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 6px 12px;
  margin-left: 9px;
  white-space: nowrap;
}

.product-card__caption h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 18px;
}

.product-card__caption-marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.product-card__caption-marks .marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__caption-marks .marks a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FF0000;
  margin-left: 11px;
}

.product-card__caption-compare {
  margin-left: auto;
}

.product-card__caption-compare a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0 20px;
}

.product-card__caption-compare a img {
  margin-right: 2px;
}

.product-card__caption-garanty {
  margin-bottom: 40px;
}

.product-card__caption-garanty .garanty-name {
  width: 42%;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #8A8A8A;
  display: inline-block;
}

.product-card__caption-garanty .garanty-name span {
  background: #ffffff;
  position: relative;
  z-index: 2;
  padding-right: 5px;
}

.product-card__caption-garanty .garanty-name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
  z-index: 1;
}

.product-card__caption-garanty .garanty-val {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #000000;
  display: inline-block;
}

.product-card__caption-stock {
  margin-bottom: 6px;
}

.product-card__caption-stock .instock {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #0D9E00;
  display: inline-block;
  margin-right: 21px;
}

.product-card__caption-stock .instock::before {
  content: '';
  background: url("../img/check.svg") center no-repeat;
  width: 13px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

.product-card__caption-stock .bonus {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #003EDF;
  background: #CBD9FF;
  border-radius: 6px;
  padding: 3px 8px;
}

.product-card__caption-pice {
  margin-bottom: 8px;
}

.product-card__caption-pice span {
  margin-right: 20px;
}

.product-card__caption-pice .cur-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  display: inline-block;
}

.product-card__caption-pice .old-rpice {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-decoration: line-through;
  display: inline-block;
}

.product-card__caption-pice .bonus-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 5px;
  background: #003EDF;
  border-radius: 6px;
  display: inline-block;
}

.product-card__caption-buy {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: -32px;
}

.product-card__caption-color {
  display: inline-block;
}

.breadcrumb {
  margin-bottom: 5px;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li + li::before {
  padding: 8px;
  font-size: 12px;
  line-height: 14px;
  color: #8A8A8A;
  content: "/";
}

.breadcrumb li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8A8A8A;
}

.btn-buy {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #FF0000;
  border-radius: 6px;
  padding: 16px 19px;
  margin-right: 18px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.btn-basket {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FF0000;
  border: 1px solid #FF0000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 14px 22px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.btn-kredit {
  display: inline-block;
  width: 200px;
  position: relative;
  vertical-align: top;
}

.btn-kredit::before {
  content: '';
  background: url("../img/credit.png") center no-repeat;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-kredit span {
  font-family: 'Roboto';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #F14635;
  margin-left: 52px;
}

.menu-mobile menu {
  display: none;
}

.color-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8A8A8A;
  margin-right: 5px;
}

.color-curr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.color-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-row a {
  width: 47px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  border: 1px solid #E5E5E5;
}

.color-row a img {
  width: 100%;
}

.color-row a.active {
  border: 1px solid red;
}

.row-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.feature h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 18px;
}

.feature h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 8px;
}

.feature-table {
  margin-bottom: 38px;
}

.feature-table .table-name {
  width: 52%;
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #8A8A8A;
  display: inline-block;
}

.feature-table .table-name span {
  background: #ffffff;
  position: relative;
  z-index: 2;
  padding-right: 5px;
}

.feature-table .table-name::before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
  z-index: 1;
}

.feature-table .table-val {
  width: 42%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #000000;
  display: inline-block;
  vertical-align: top;
}

.feature-table .feature-more__btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 32px;
  color: #FF0000;
  display: block;
  border-top: 1px solid #EEEEEE;
  position: relative;
  padding: 7px 0;
  margin-top: 10px;
  display: none;
}

.feature-table .feature-more__btn:after {
  content: '';
  position: absolute;
  background: url("../img/shevron-btn.svg") no-repeat center;
  background-size: cover;
  width: 13px;
  height: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.specification {
  margin-bottom: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin-left: 30px;
}

.specification h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.specification h2 span {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #424242;
  top: 0;
  right: -10px;
}

.desc {
  margin-bottom: 32px;
}

.desc-more__btn {
  display: none;
}

.desc p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #424242;
  margin-bottom: 28px;
}

.documentation {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.documentation-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  margin-right: 28px;
}

.documentation-card img {
  width: 100%;
}

.documentation-card__img {
  margin-bottom: 7px;
}

.documentation-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #424242;
}

.documentation-card a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #D70000;
}

.comments-more__btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 32px;
  color: #FF0000;
  display: block;
  border-top: 1px solid #EEEEEE;
  position: relative;
  padding: 7px 0;
  margin-top: 10px;
  display: none;
}

.comments-more__btn:after {
  content: '';
  position: absolute;
  background: url("../img/shevron-btn.svg") no-repeat center;
  background-size: cover;
  width: 13px;
  height: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.comment-block {
  margin-bottom: 36px;
}

.comment-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}

.comment-block__header .marks {
  margin-bottom: 0;
  margin-right: 20px;
}

.comment-block__header .comment-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-right: 20px;
}

.comment-block__header .comment-date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #8A8A8A;
}

.comment-block__footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #424242;
}

.comment-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FF0000;
  border: 1px solid #FF0000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
}

.product-related,
.recently-viewed {
  margin-bottom: 60px;
}

.product-related h2,
.recently-viewed h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.product-related h2 span,
.recently-viewed h2 span {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #8A8A8A;
  top: 0;
  right: -22px;
}

.card {
  width: 250px;
  cursor: pointer;
}

.card__curr-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-right: 25px;
}

.card .card-bonus {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  background: #003EDF;
  border-radius: 6px;
  padding: 4px 8px;
  white-space: nowrap;
}

.card .old-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: line-through;
  display: block;
}

.card-img {
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 5px;
  margin-bottom: 14px;
}

.card-img img {
  width: 100%;
}

.card-img-label {
  position: absolute;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.label-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #424242;
}

.card-name__article {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #8A8A8A;
  display: block;
}

.product-related__row .slick-slide,
.recently-viewed__row .slick-slide {
  margin: 0 10px;
}

.product-related__row .slick-prev.slick-arrow,
.recently-viewed__row .slick-prev.slick-arrow {
  font-size: 0;
  background: url("../img/prev-b.svg") center no-repeat;
  width: 39px;
  height: 39px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -40px;
  position: absolute;
}

.product-related__row .slick-next.slick-arrow,
.recently-viewed__row .slick-next.slick-arrow {
  font-size: 0;
  background: url("../img/next-b.svg") center no-repeat;
  width: 39px;
  height: 39px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -40px;
  position: absolute;
}

.tags-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 82px;
}

.tags-row span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6B6B6B;
  padding: 5px 11px;
  background: #F0F0F0;
  border-radius: 6px;
  margin-right: 11px;
  margin-bottom: 10px;
}

.feedback {
  background: #2F2F2F;
  padding: 30px 0;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-form h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 20px;
}

.feedback-form input {
  font-family: 'Roboto';
  background: #FFFFFF;
  border-radius: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  padding: 8px 17px;
  margin-right: 20px;
}

.feedback-form input::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.feedback-form input::-moz-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.feedback-form input:-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.feedback-form input::-ms-input-placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.feedback-form input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.feedback-form button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #FF0000;
  border-radius: 6px;
  padding: 12px;
}

footer {
  background: #232323;
  padding: 37px 0;
  position: relative;
}

footer:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #2F2F2F;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}

footer .menu-row nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  background: transparent;
}

footer .menu-row nav span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

footer .menu-row nav menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

footer .menu-row nav menu li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #DDDDDD;
}

.more-menu {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #ABB8FF;
}

.container-footer {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-row .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer-row .logo img {
  margin-bottom: 26px;
}

.footer-row .logo p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #DDDDDD;
  max-width: 172px;
}

.footer-row nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  background: transparent;
}

.footer-row nav span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer-row nav menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.footer-row nav menu li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #DDDDDD;
}

.footer-row .footer-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer-row .footer-contacts .footer-adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #DDDDDD;
  position: relative;
}

.footer-row .footer-contacts .footer-adress img {
  vertical-align: middle;
  margin-right: 5px;
}

.footer-row .footer-contacts .footer-phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #DDDDDD;
  display: block;
}

.footer-row .footer-contacts .footer-phone img {
  vertical-align: middle;
  margin-right: 5px;
}

.footer-row .footer-contacts .footer-whats {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #DDDDDD;
  display: block;
}

.footer-row .footer-contacts .footer-whats img {
  vertical-align: middle;
  margin-right: 5px;
}

.footer-row .footer-contacts .footer-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;
  color: #DDDDDD;
}

.footer-row .footer-contacts .footer-mail img {
  vertical-align: middle;
  margin-right: 5px;
}

.footer-row .footer-links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer-row .footer-links a {
  display: inline-block;
  margin-right: 30px;
}

.footer-row .footer-links a img {
  width: 100%;
  vertical-align: middle;
}

.mobile-cards {
  display: none;
}

@media (max-width: 1252px) {
  .container {
    max-width: 970px;
  }

  .header-top__location a {
    display: none;
  }

  menu li a {
    font-size: 14px;
  }

  .product-slide {
    width: 350px;
  }

  .product-slide img {
    width: 100%;
  }

  .product-label {
    width: 350px;
  }

  .product-card__caption {
    margin-left: 12px;
  }

  .product-card__caption-marks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-card__caption-compare {
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
  }

  .product-card__caption-compare a {
    margin: 0 20px 0 0;
  }

  .product-card__caption-buy {
    top: 0;
    margin-bottom: 10px;
  }

  .specification {
    margin-left: 63px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header-top__phnoe {
    display: none;
  }

  .header-top__search {
    display: none;
  }

  .header-top__privat {
    width: 100%;
  }

  menu {
    display: none;
  }

  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-card__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
  }

  .product-card__caption h2 {
    font-size: 20px;
  }

  .product-card__caption-buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .specification {
    margin-left: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .documentation h2 {
    font-size: 28px;
    margin-right: 40%;
  }

  .documentation-card {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }

  .container-footer {
    max-width: none;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 683px) {
  .header-top {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.07);
    height: 58px;
  }

  .header-top__logo {
    position: relative;
    height: 100%;
    border-right: 1px solid #F0F0F0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
  }

  .header-top__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    padding: 0 10px;
  }

  .header-top__search input {
    border: none;
    border-bottom: 1px solid #F0F0F0;
    border-radius: 0;
    margin: 0 auto;
    width: 80%;
    padding: 2px 0;
    position: relative;
  }

  .header-top__search .mob-search {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 40px;
  }

  .header-top__privat {
    display: none;
  }

  .header-top__basket {
    position: relative;
    height: 100%;
    border-left: 1px solid #F0F0F0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10px;
  }

  .header-top__basket .mob-count {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FF0000;
  }

  .header-top__basket-name {
    display: none;
  }

  .product-card__img {
    margin: 0 0 30px 0;
  }

  .product-slide {
    width: 100%;
    margin-left: 0;
    border: none;
  }

  .product-slide .slick-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
  }

  .product-slide .slick-dots li button {
    font-size: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #F2F2F2;
  }

  .product-slide .slick-dots .slick-active button {
    background: #D5D5D5;
  }

  .product-label {
    width: 100%;
    left: 0;
  }

  .product-thumb {
    display: none;
  }

  .product-card__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-card__caption h2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 16px;
    line-height: 22px;
  }

  .product-card__caption {
    margin-left: 0;
  }

  .product-card__caption-marks {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .product-card__caption-compare {
    display: none;
  }

  .product-card__caption-garanty {
    display: none;
  }

  .product-card__caption-stock {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 10px;
  }

  .product-card__caption-pice {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .product-card__caption-pice span {
    margin-right: 7px;
  }

  .product-card__caption-pice span:last-child {
    margin-right: 0;
  }

  .product-card__caption-buy {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #FFFFFF;
    -webkit-box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.06);
            box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 0;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 7px 0 11px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .product-card__caption-color {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 10px 17px rgba(0, 0, 0, 0.06);
            box-shadow: 0 10px 17px rgba(0, 0, 0, 0.06);
    padding: 18px 30px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .btn-buy {
    font-size: 13px;
    margin-right: 5px;
    padding: 0px 17px;
    line-height: 35px;
  }

  .btn-basket {
    font-size: 13px;
    margin-right: 5px;
    padding: 0px 7px;
    line-height: 35px;
  }

  .btn-kredit span {
    font-size: 13px;
  }

  .btn-kredit {
    width: 180px;
  }

  .menu-mobile {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    background: #FFFFFF;
    -webkit-box-shadow: 0 10px 22px rgba(0, 0, 0, 0.06);
            box-shadow: 0 10px 22px rgba(0, 0, 0, 0.06);
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 7px;
  }

  .menu-mobile menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    padding: 12px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .menu-mobile menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #898989;
    text-align: center;
  }

  .menu-mobile menu li a img {
    margin: 7px auto;
  }

  .color-row {
    margin-top: 15px;
  }

  .row-feature {
    margin-left: -20px;
    margin-right: -20px;
  }

  .feature {
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 16px 17px rgba(0, 0, 0, 0.06);
            box-shadow: 0 16px 17px rgba(0, 0, 0, 0.06);
    margin-right: -20px;
    padding: 20px 14px 9px 14px;
    width: 100%;
    margin-bottom: 11px;
  }

  .feature-table {
    margin-bottom: 0;
  }

  .feature-table .feature-more__btn {
    display: block;
  }

  .feature-more {
    display: none;
  }

  .desc {
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 16px 17px rgba(0, 0, 0, 0.06);
            box-shadow: 0 16px 17px rgba(0, 0, 0, 0.06);
    padding: 15px 15px 0px 20px;
    width: 100%;
    margin-bottom: 9px;
  }

  .desc-text {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  .desc-more__btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    color: red;
    display: block;
    border-top: 1px solid #eee;
    position: relative;
    padding: 7px 0;
    margin-top: 10px;
  }

  .desc-more__btn::after {
    content: '';
    position: absolute;
    background: url("../img/shevron-btn.svg") no-repeat center;
    background-size: cover;
    width: 13px;
    height: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
  }

  .desc p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 170%;
  }

  .documentation {
    display: none;
  }

  .comments {
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 16px 17px rgba(0, 0, 0, 0.06);
            box-shadow: 0 16px 17px rgba(0, 0, 0, 0.06);
    padding: 15px 15px 0px 20px;
    width: 100%;
    margin-bottom: 19px;
  }

  .comments-more__btn {
    display: block;
  }

  .comment-btn {
    display: none;
  }

  .product-related h2,
  .recently-viewed h2 {
    font-size: 22px;
  }

  .card {
    width: 160px;
  }

  .card .card-bonus {
    display: none;
  }

  .card-img-label .label-super {
    display: none;
  }

  .card-img-label .label-compare {
    display: none;
  }

  .feedback-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .feedback-form input {
    width: 100%;
    margin: 15px 0;
  }

  footer:after {
    display: none;
  }

  footer .menu-row nav span {
    cursor: pointer;
    display: block;
    position: relative;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
    color: #FFFFFF;
    border-bottom: 1px solid #2D2D2D;
  }

  footer .menu-row nav span::after {
    content: '';
    position: absolute;
    background: url("../img/shevron-btn.svg") no-repeat center;
    background-size: cover;
    width: 13px;
    height: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    transition: linear .3s;
  }

  footer .menu-row nav span.active {
    border-bottom: 1px solid transparent;
  }

  footer .menu-row nav span.active::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
  }

  footer .menu-row nav menu {
    display: none;
    border-bottom: 1px solid #2D2D2D;
  }

  .more-menu {
    display: none;
  }

  .menu-row {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-row {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-row .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 15px;
  }

  .footer-row .logo img {
    display: none;
  }

  .footer-row .logo p {
    max-width: 100%;
  }

  .footer-row nav {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer-row nav span {
    cursor: pointer;
    display: block;
    position: relative;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
    color: #FFFFFF;
    border-bottom: 1px solid #2D2D2D;
  }

  .footer-row nav span::after {
    content: '';
    position: absolute;
    background: url("../img/shevron-btn.svg") no-repeat center;
    background-size: cover;
    width: 13px;
    height: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
    -webkit-transition: linear .3s;
    -o-transition: linear .3s;
    transition: linear .3s;
  }

  .footer-row nav span.active {
    border-bottom: 1px solid transparent;
  }

  .footer-row nav span.active::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
  }

  .footer-row nav menu {
    display: none;
    border-bottom: 1px solid #2D2D2D;
  }

  .footer-row .footer-contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 25px;
  }

  .footer-row .footer-links {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer-row .footer-links a {
    margin-right: 0;
  }

  .footer-row .footer-links a:not(:first-child) {
    display: none;
  }

  .mobile-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 540px) {
  .breadcrumb {
    display: none;
  }
}