.content.docs .certificate {width: 19%;}
.footer .systems img {max-width: 48px;max-height: 18px;margin: 10px 3px;}
.page-text .content .newreview a,
.page-text .content .certificate a {border-bottom:none;}

.newslist .newslist-items {padding-right:40px;}