@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;

400;600;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.main-title {
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.1;
  position: relative;
  z-index: 1;
  color: #000;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#edfa0e), color-stop(100%, #fff1d8), to(rgba(202, 247, 27, 0.55506)));
  background: -o-linear-gradient(top, #edfa0e 0%, #fff1d8 100%, rgba(202, 247, 27, 0.55506) 100%);
  background: linear-gradient(180deg, #edfa0e 0%, #fff1d8 100%, rgba(202, 247, 27, 0.55506) 100%);
}

.main-subtitle {
  font-size: 36px;
  line-height: 36px;
  font-family: 'Roboto';
  color: #000;
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 565px;
  text-align: center;
  position: relative;
  z-index: 2;
  top: -30px;
}

.main-subtitle span {
  color: #c7a302;
}

.main-graph {
  background: url("../img/bg.png") center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  margin-bottom: 150px;
}

.main-graph h3 {
  font-size: 20px;
  line-height: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #000;
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 710px;
  text-align: center;
  position: relative;
}

.main-graph h3 span {
  font-weight: 700;
}

.main-graph {
  text-align: center;
}

.main-circle {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 150px;
}

.main-circle__card {
  background: #ffffff;
  padding: 20px 35px;
  border-radius: 7px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  text-align: left;
}

.main-circle__card::after {
  content: '';
  background: #000000;
  width: 110px;
  height: 2px;
  position: absolute;
  right: -80px;
  top: 71%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.main-circle__card:nth-child(1) {
  top: 0;
  left: 7%;
}

.main-circle__card:nth-child(1) .main-circle__card-img {
  left: unset;
  right: -30px;
}

.main-circle__card:nth-child(2) {
  top: 0;
  right: 10%;
}

.main-circle__card:nth-child(2):after {
  left: -80px;
  right: unset;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-circle__card:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 11%;
}

.main-circle__card:nth-child(3):after {
  top: 33%;
  -webkit-transform: rotate(-31deg);
      -ms-transform: rotate(-31deg);
          transform: rotate(-31deg);
}

.main-circle__card:nth-child(3) .main-circle__card-img {
  left: unset;
  right: -30px;
}

.main-circle__card:nth-child(4) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16%;
}

.main-circle__card:nth-child(4):after {
  top: 33%;
  -webkit-transform: rotate(31deg);
      -ms-transform: rotate(31deg);
          transform: rotate(31deg);
  left: -80px;
  right: unset;
}

.main-circle__card:nth-child(5) {
  bottom: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-circle__card:nth-child(5):after {
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  right: unset;
  width: 57px;
}

.main-circle__card-text {
  font-size: 18px;
  line-height: 18px;
  font-family: 'Roboto';
  font-weight: 400;
}

.main-circle__card-img {
  background: #eeb63e;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -30px;
  position: absolute;
  z-index: 2;
}

.main-circle__card-img i {
  font-size: 20px;
  color: #ffffff;
}

.main-circle__block {
  width: 300px;
  height: 300px;
  font-size: 80px;
  background: #fec049;
  color: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.btn {
  background: #feb638;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 27px;
  display: inline-block;
  -webkit-box-shadow: 2px 21px 31px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 21px 31px -4px rgba(0, 0, 0, 0.75);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  width: 55%;
}

.footer-map img {
  width: 100%;
}

.footer-open__title {
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.1;
  position: relative;
  z-index: 1;
  color: #000;
}

.footer-open__subtitle {
  font-size: 28px;
  line-height: 28px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 700;
  position: relative;
  z-index: 2;
  top: -24px;
  color: #000;
}

.footer-open__years,
.footer-open__users {
  background: #ebfaec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px;
  width: 74%;
  border-left: 3px solid #80b387;
  margin-bottom: 24px;
}

.footer-open__years p,
.footer-open__users p {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 400;
  color: #000;
}

.footer-open__years span,
.footer-open__users span {
  font-size: 28px;
  line-height: 28px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 700;
  color: #45bc4d;
  margin-right: 15px;
}

.footer-open__users {
  background: #ebf7fe;
  border-left: 3px solid #86b1ae;
}

.footer-open__users span {
  color: #4d9ed9;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .main-circle__card:nth-child(1) {
    left: 0;
  }

  .main-circle__card:nth-child(2) {
    right: 3%;
  }

  .main-circle__card:nth-child(3) {
    left: 5%;
  }

  .main-circle__card:nth-child(4) {
    right: 11%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .main-circle__card {
    padding: 10px 15px;
    width: 200px;
  }

  .main-circle__card:nth-child(1) {
    left: 5%;
  }

  .main-circle__card:nth-child(2) {
    right: 5%;
  }

  .main-circle__card:nth-child(2) .main-circle__card-text {
    margin-left: 40px;
  }

  .main-circle__card:nth-child(3) {
    left: 5%;
  }

  .main-circle__card:nth-child(4) {
    right: 6%;
  }

  .main-circle__card:nth-child(4) .main-circle__card-text {
    margin-left: 40px;
  }

  .main-circle__card:nth-child(5) .main-circle__card-text {
    margin-left: 40px;
  }

  .main-circle__block {
    width: 190px;
    height: 190px;
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .main-title {
    font-size: 60px;
    line-height: 60px;
  }

  .main-subtitle {
    font-size: 22px;
    line-height: 22px;
  }

  .main-graph {
    margin-bottom: 20px;
  }

  .main-graph h3 {
    font-size: 18px;
    line-height: 18px;
  }

  .main-circle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }

  .main-circle__card {
    position: relative;
    width: 80%;
    margin-bottom: 40px;
  }

  .main-circle__card::after {
    display: none;
  }

  .main-circle__card:nth-child(1) {
    top: 0;
    left: 0;
  }

  .main-circle__card:nth-child(1) .main-circle__card-text {
    margin-left: 40px;
  }

  .main-circle__card:nth-child(1) .main-circle__card-img {
    right: unset;
    left: -30px;
  }

  .main-circle__card:nth-child(2) {
    top: 0;
    left: 0;
  }

  .main-circle__card:nth-child(3) {
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .main-circle__card:nth-child(3) .main-circle__card-text {
    margin-left: 40px;
  }

  .main-circle__card:nth-child(3) .main-circle__card-img {
    right: unset;
    left: -30px;
  }

  .main-circle__card:nth-child(4) {
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .main-circle__card:nth-child(5) {
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .main-circle__block {
    display: none;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }

  .footer-open__title {
    text-align: center;
  }

  .footer-open__subtitle {
    text-align: center;
  }
}