@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Gilroy";
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url("../fonts/Gilroy-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("../fonts/Gilroy-Heavy.ttf");
  font-weight: normal;
  font-style: normal;
}

.section {
  width: 100vw;
  height: 100vh !important;
  background: #ffffff;
}

.container {
  max-width: 1371px;
  padding: 55px 15px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.main-page {
  background: url("../img/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh !important;
  overflow: auto;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9%;
  max-height: 100%;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.tel-header {
  margin-left: auto;
}

.tel-header a {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 38px;
  font-weight: 300;
}

.main-page__wrapper {
  margin-left: 70px;
  max-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.circular text {
  margin: 0 5px;
  fill: currentColor;
  font-size: 11px;
  color: #ffffff;
}

.circular {
  position: relative;
  z-index: 2;
  width: 9em;
  height: 9em;
}

.circular svg {
  display: block;
  overflow: visible;
  -webkit-transition: 10s linear transform;
  transition: 10s linear transform;
}

.circular svg:hover {
  -webkit-transform: rotate(-2turn);
          transform: rotate(-2turn);
}

.circular text {
  fill: currentColor;
}

.circular path {
  fill: none;
}

.main-page__play {
  position: relative;
}

.play-btn {
  position: absolute;
  top: 46px;
  left: 57px;
}

.title {
  color: #ffffff;
  font-family: "Gilroy-Thin";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.main-page__title {
  margin-bottom: 3%;
}

.main-page__subtitle {
  max-width: 708px;
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.main-page__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
  padding-bottom: 8%;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.main-page__item {
  margin-right: 60px;
}

.main-page__item:last-child {
  margin-right: 0;
}

.main-page__link {
  color: #ffffff;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.main-page__link:hover {
  color: #be9595;
}

.main-page__link::before {
  content: "";
  width: 15px;
  height: 1px;
  background: #ffffff;
  display: inline-block;
  margin-right: 9px;
  vertical-align: middle;
}

.main-page__footer {
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  margin-right: 93px;
}

.social-icons a {
  margin-right: 17px;
}

.social-icons a:last-child {
  margin-right: 0;
}

@media (max-height: 768px) {
  .nav-menu {
    margin-bottom: 50px;
  }
  .main-page__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5%;
    padding-bottom: 4%;
  }
  .main-page__play {
    margin-left: auto;
  }
  .main-page__footer {
    margin-top: 0px;
  }
}

@media (max-height: 560px) {
  .nav-menu {
    margin-bottom: 15px;
  }
  .main-page__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  .main-page__play {
    margin-left: auto;
  }
  .main-page__footer {
    margin-top: -10px;
  }
}
/*# sourceMappingURL=style.css.map */