@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url('../font/source/sourcesansproextralight.woff2') format('woff2'), url('../font/source/sourcesansproextralight.woff') format('woff'), url('../font/source/sourcesansproextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'), url('../font/source/sourcesansproextralightitalic.woff2') format('woff2'), url('../font/source/sourcesansproextralightitalic.woff') format('woff'), url('../font/source/sourcesansproextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../font/source/sourcesansprolight.woff2') format('woff2'), url('../font/source/sourcesansprolight.woff') format('woff'), url('../font/source/sourcesansprolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url('../font/source/sourcesansprolightitalic.woff2') format('woff2'), url('../font/source/sourcesansprolightitalic.woff') format('woff'), url('../font/source/sourcesansprolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../font/source/sourcesanspro.woff2') format('woff2'), url('../font/source/sourcesanspro.woff') format('woff'), url('../font/source/sourcesanspro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url('../font/source/sourcesansproitalic.woff2') format('woff2'), url('../font/source/sourcesansproitalic.woff') format('woff'), url('../font/source/sourcesansproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('../font/source/sourcesansprosemibold.woff2') format('woff2'), url('../font/source/sourcesansprosemibold.woff') format('woff'), url('../font/source/sourcesansprosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url('../font/source/sourcesansprosemibolditalic.woff2') format('woff2'), url('../font/source/sourcesansprosemibolditalic.woff') format('woff'), url('../font/source/sourcesansprosemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../font/source/sourcesansprobold.woff2') format('woff2'), url('../font/source/sourcesansprobold.woff') format('woff'), url('../font/source/sourcesansprobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'), url('../font/source/sourcesansprobolditalic.woff2') format('woff2'), url('../font/source/sourcesansprobolditalic.woff') format('woff'), url('../font/source/sourcesansprobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url('../font/source/sourcesansproblack.woff2') format('woff2'), url('../font/source/sourcesansproblack.woff') format('woff'), url('../font/source/sourcesansproblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackIt'), url('../font/source/sourcesansproblackitalic.woff2') format('woff2'), url('../font/source/sourcesansproblackitalic.woff') format('woff'), url('../font/source/sourcesansproblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
