.filter-parameters-block + .filter_head {
    border-top: none;
}
.close_filter_row {
    margin: 0 -18px;
    padding-top: 2px;
}
.close_filter_row .col {
    padding: 0;
}
.close_filter_row .filter__close {
    cursor: pointer;
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: 46px;
}
.close_filter_row .filter__close:hover a {
    border-bottom: 1px solid;
}
.search_sort_mobile.d-flex {
    align-items: center;
}