* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Source Sans Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Source Sans Pro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content {
  width: 100%;
  margin-left: 3.5rem;
}

.page-title {
  margin: 0 auto;
  text-align: center;
}

.subtitle-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle-row .custom-switch {
  margin-left: 150px;
}

.subtitle-row .custom-switch span {
  margin-top: 3px;
  display: block;
}

.card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f9fa;
  position: relative;
  z-index: 2;
}

.card-name span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.card-name:hover {
  background: #d6d9dd;
}

.card-body {
  border: 2px solid #F8F9FB;
  border-radius: 4px;
  top: -2px;
}

.card-icons {
  border: 2px solid #F8F9FB;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-section__wallet th {
  font-weight: normal;
}

.table-section__wallet td span {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
}

.card-comments-section {
  border: 1px solid #dee2e6;
  height: 171px;
  overflow: hidden;
  padding: 10px 30px 20px 10px;
}

.card-comments-section p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.card-total-balnce {
  border: 1px solid #dee2e6;
}

.card-total-balnce .table td,
.card-total-balnce .table th {
  border-top: none;
}

.card-total-balnce th {
  font-weight: normal;
}

.card-total-balnce td span {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
}

.card-last-block {
  border: 1px solid #dee2e6;
}

.card-last-block th {
  font-weight: normal;
}

.card-last-block td span {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
}

.card-last-block p {
  margin-bottom: 0;
}

.card-last-block .table td,
.card-last-block .table th {
  border-top: none;
}

.addCoin-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

.addCoin-title-row .btn {
  margin-left: auto;
}

.addcoin-title p {
  color: #ADB5BD;
  margin-bottom: 5px;
}

.addcoin-title h2 {
  margin-bottom: 0;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
}

.nav-pills {
  margin-top: 50px;
}

.nav-pills a {
  border: 1px solid #ADB5BD;
  border-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.main-aside {
  width: 3.5rem;
  background-color: #6C757D;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  height: 100vh;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 10;
}

.main-aside .burger {
  color: #212529;
  font-size: 1.35rem;
  font-weight: 400;
  padding: 0.5rem;
  margin-bottom: 20px;
}

.main-aside:hover {
  width: 290px;
  z-index: 10;
}

.main-aside:hover ul li a p {
  display: inline-block;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.main-aside ul li {
  padding: 0.5rem;
  margin-bottom: 20px;
}

.main-aside ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.main-aside ul li a p {
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  color: #212529;
  font-size: 1.35rem;
  font-weight: 400;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.main-aside ul li a i {
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  margin-right: 15px;
  color: #212529;
  font-size: 1.35rem;
}

.main-aside ul li:hover a i,
.main-aside ul li:hover a p {
  color: #0056B3;
}

.fa-users {
  font-size: 1.2rem !important;
}

.fa-wallet {
  font-size: 1.5rem  !important;
}

.fa-broadcast-tower {
  font-size: 1.2rem  !important;
}

.fa-user-shield {
  font-size: 1.2rem  !important;
}

.fa-clipboard-list {
  font-size: 2rem  !important;
}

.add-coin-nav {
  position: fixed;
  right: 0;
}

.form-inline {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.coins-form input {
  background-color: #f2f4f6;
  border: 0;
  outline: none !important;
  height: 43px !important;
  border-radius: 9px !important;
}

.coins-form input:focus {
  background-color: #f2f4f6;
  border: 0;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.coins-form .input-group-append {
  background-color: #f2f4f6;
  border: 0;
  border-radius: 9px !important;
  margin-left: -31px;
}

.coins-form .input-group-append button {
  border-radius: 9px !important;
}

.coins-form .input-group-append button:focus {
  background-color: #f2f4f6;
  border: 0;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.table-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-wrapper {
  background-color: #B3B3B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #B3B3B3;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  border-radius: 7px;
  cursor: pointer;
  z-index: 5;
}

.table-wrapper .table-body-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.table-wrapper .btn {
  display: block;
}

.table-wrapper span {
  display: block;
}

.table-wrapper .edit-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 55px;
  z-index: 10;
}

.icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px 10px 20px;
}

.table-icons {
  background-color: #F5F5F5;
  padding: 1rem;
  display: inline-block;
  border-radius: 7px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.table-icons a {
  font-size: 16px;
  color: #6c757d;
  margin-right: 15px;
}

.table-icons a:last-child {
  margin-right: 0;
}

.btn-row {
  margin-left: 20px;
}

.btn-row a {
  margin-right: 15px;
}

.btn-row a:last-child {
  margin-right: 0;
}

.table-section__wallet ul li {
  color: #948787;
  font-size: 16px;
  line-height: 16px;
}

.table-section__wallet .data-wallet ul li {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
}

.table-section__balance {
  margin: 0px 0px 10px 20px;
}

.table-section__balance span {
  display: block;
  color: #948787;
  font-size: 16px;
  line-height: 16px;
}

.table-section__balance .wb,
.table-section__balance .db,
.table-section__balance .del-b {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.comments-section {
  margin: 0px 0px 10px 20px;
}

.comments-section h2 {
  display: block;
  color: #948787;
  font-size: 16px;
  line-height: 16px;
}

.comments-section span {
  display: block;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
}

.section-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-final ul {
  margin-right: 60px;
}

.section-final ul:last-child {
  margin-right: 0;
}

.control-aside {
  width: 200px;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: ease-in .3s;
  -o-transition: ease-in .3s;
  transition: ease-in .3s;
  z-index: 10;
}

.control-aside.active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.control-aside nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.control-aside nav ul li {
  margin: 5px 0;
}

.control-aside nav ul li:last-child {
  margin: 0;
}

.control-aside nav ul li a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-switch-featured {
  margin-bottom: -25px;
}

.custom-switch-featured span {
  position: relative;
  top: 3px;
}

.cf-form {
  margin-bottom: 0;
}

#customFile .custom-file-input:lang(en)::after {
  content: "Select file...";
}

#customFile .custom-file-input:lang(en)::before {
  content: "Click me";
}

/*when a value is selected, this class removes the content */

.custom-file-input.selected:lang(en)::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
  margin-bottom: -5px;
}

.custom-file-input {
  white-space: nowrap;
}

.save {
  width: 50%;
  margin-left: 50%;
}

.clear-form-file {
  position: absolute;
  top: 5px;
  color: #000000;
  right: 150px;
  z-index: 9;
}

.form-knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-knowledge .form-check .form-check-input {
  margin-top: 3px;
  margin-left: 0;
}

.form-knowledge .form-check .form-check-label {
  margin-left: 25px;
  margin-bottom: 10px;
}

.form-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-explorer h2 {
  font-size: 22px;
  line-height: 22px;
}

.form-config {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.config-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.config-form label {
  margin-right: 10px;
  margin-bottom: 0;
  white-space: nowrap;
}

.testnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testnet .custom-switch-featured {
  margin-bottom: -9px;
}

.testnet .isTestnet {
  position: relative;
  top: 3px;
  margin-bottom: 0;
  margin-right: 10px;
}

.form-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.balance-toggle-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balance-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  top: -6px;
}

.balance-wrapper {
  background-color: #B3B3B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #B3B3B3;
  position: relative;
  z-index: 2;
  border-radius: 7px;
  height: 50px;
}

.data-row {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data-row .data-body {
  font-size: 24px;
  line-height: 24px;
  margin: 30px;
}

.data-row .data-body span {
  margin-top: 30px;
  font-size: 14px;
  line-height: 14px;
  display: block;
}

.filters-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.filters-intro span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

.table-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pag-numbers {
  margin: 0 60px;
  width: 67px;
  margin-bottom: 0;
}

.pagination-prev {
  margin-right: 5px;
  margin-left: 5px;
}

.pagination-next {
  margin-left: 5px;
}