@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?uvfuwh");
  src: url("../fonts/icomoon.eot?uvfuwh#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?uvfuwh") format("truetype"), url("../fonts/icomoon.woff?uvfuwh") format("woff"), url("../fonts/icomoon.svg?uvfuwh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb-icon:before {
  content: "\e900";
}

.icon-inst-icon:before {
  content: "\e901";
}

.icon-mail-icon:before {
  content: "\e902";
}

.icon-phone-icon:before {
  content: "\e903";
}

.icon-pin-icon:before {
  content: "\e904";
}

.icon-tg-icon:before {
  content: "\e905";
}

.icon-wtsp-icon:before {
  content: "\e906";
}

.icon-burger-i:before {
  content: "\e907";
}

@-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}

@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

header.active {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

header nav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 28px 0;
}

.burger-btn {
  height: 16px;
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  padding: 0;
  margin-right: 10px;
}

.burger-btn.active span {
  width: auto;
}

.burger-btn.active span:nth-child(1) {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.burger-btn.active span:nth-child(3) {
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

.burger-btn:focus {
  outline: none;
}

.burger-btn span {
  width: 100%;
  height: 2px;
  color: #0D815D;
  font-size: 3px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-tg {
  color: #0D815D;
  margin-right: 11px;
  margin-left: auto;
}

.header-tg:hover {
  color: #092c21;
}

.header-wtsp {
  color: #0D815D;
  margin-right: 22px;
}

.header-wtsp:hover {
  color: #092c21;
}

.header-menu {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #343228;
}

.header-tel {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.header-tel:hover {
  color: #092c21;
}

.fixed-top {
  height: 80px;
}

.scrolled {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.carousel-item h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 64px;
  text-align: center;
  color: #343228;
  -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) 5s both;
  animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) 5s both;
  display: block;
}

.carousel-item h1 span {
  color: #0D815D;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.carousel-fade .carousel-inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.main-menu {
  overflow: hidden;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
  height: 100vh;
  padding-top: 160px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  background: #FFFFFF;
}

.main-menu.active {
  visibility: visible;
  width: 100%;
  opacity: 1;
  overflow-y: auto;
}

.close-menu {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 60px;
  top: 120px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  background: transparent;
}

.close-menu:hover {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.close-menu:focus {
  outline: none;
}

.close-menu span {
  width: 100%;
  background: #0D805C;
  height: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-menu span::before {
  content: '';
  width: 100%;
  background: #0D805C;
  height: 2px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: block;
}

.main-menu__list ul li {
  margin-bottom: 50px;
}

.main-menu__list ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #343228;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.main-menu__list ul li a:hover {
  color: #0D815D;
}

.main-menu__adress {
  padding: 210px 45px 50px 100px;
  position: absolute;
  background: #efefef;
  top: 0;
  right: 0;
  height: 100%;
}

.main-menu__adress::before {
  content: '';
  background: #EFEFEF;
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.main-menu__adress-block {
  margin-bottom: 50px;
}

.main-menu__adress-block p,
.main-menu__adress-block span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #343228;
  margin-bottom: 14px;
  display: block;
}

.main-menu__adress-block span {
  display: inline-block;
}

.menu-tg,
.menu-wtsp {
  width: 22px;
  height: 22px;
  background: #0D805C;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.menu-tg:hover,
.menu-wtsp:hover {
  background: #092c21;
}

.menu-tg span,
.menu-wtsp span {
  margin-bottom: 0 !important;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 13px;
}

.menu-wtsp {
  margin-left: 36px;
}

.menu-btn {
  background: #0D805C;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  border: none;
  padding: 12px 44px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.menu-btn:hover {
  background: #092c21;
  color: #FFFFFF;
}

.menu-btn:focus {
  outline: none;
}

.hero {
  min-height: 860px;
  height: 100%;
  background: url("../img/bg-main.png") center no-repeat;
  -webkit-clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 77%);
          clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 77%);
  background-size: cover;
  position: relative;
}

.hero-content {
  margin-top: 18%;
}

.hero-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #343228;
  margin-bottom: 45px;
}

.hero-content h1 span {
  color: #0D805C;
}

.hero-content h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #343228;
  margin-bottom: 45px;
}

.hero-content p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 40px;
}

.hero-content p:last-child {
  margin-bottom: 0;
}

.our-team__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 160px;
}

.our-team__row:nth-child(2n+2) .our-team__description {
  padding-left: 23px;
}

.our-team__row:nth-child(2n+1) .our-team__description {
  padding-right: 33px;
}

.our-team__photo img {
  width: 100%;
}

.our-team__description h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 58px;
  color: #343228;
  margin-bottom: 25px;
}

.our-team__description h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  color: #0D805C;
  margin-bottom: 40px;
}

.our-team__description p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #343228;
  margin-bottom: 80px;
}

.our-team__description .our-team__social a {
  color: #0D805C;
  font-size: 28px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.our-team__description .our-team__social a:hover {
  color: #343228;
}

.main-form__body {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  padding: 80px;
  margin-bottom: 50px;
}

.main-form__body h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #343228;
  margin-bottom: 34px;
}

.main-form__body h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #343228;
  margin-bottom: 66px;
}

.main-form__body form input {
  width: 250px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #0D805C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #343228;
  padding: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.main-form__body form input:focus {
  border-radius: 0;
  outline-style: solid;
  outline: none;
  border: 2px solid #343228;
}

.main-form__body form input::-webkit-input-placeholder {
  color: #343228;
}

.main-form__body form input::-moz-placeholder {
  color: #343228;
}

.main-form__body form input:-ms-input-placeholder {
  color: #343228;
}

.main-form__body form input::-ms-input-placeholder {
  color: #343228;
}

.main-form__body form input::placeholder {
  color: #343228;
}

.main-form__body form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main-form__body form input:focus::-moz-placeholder {
  color: transparent;
}

.main-form__body form input:focus:-ms-input-placeholder {
  color: transparent;
}

.main-form__body form input:focus::-ms-input-placeholder {
  color: transparent;
}

.main-form__body form input:focus::placeholder {
  color: transparent;
}

.main-form__body form button {
  margin-bottom: 30px;
}

.main-form__body form label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #343228;
}

.main-form__body.project form {
  padding-top: 52px;
}

.main-form__body.project form input {
  width: 200px;
  height: 50px;
}

.main-form__body.project form label {
  padding-left: 20px;
}

.main-form__body.project form .custom-control {
  padding-left: 0;
}

.main-form__body.project form .custom-control-input:checked ~ .custom-control-label::before {
  width: 8px;
  height: 8px;
  border-color: #343228;
  background-color: #343228;
}

.main-form__body.project form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
}

.main-form__body.project form .custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.main-form__body.project form .custom-control-label::before {
  width: 8px;
  height: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -0.15rem;
  z-index: 10;
}

.main-form__body.project form .custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -0.38rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: #0D805C;
}

.main-form__body.project h3 {
  margin-bottom: 2px;
}

.main-form__body.project span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0D805C;
  margin-right: 39px;
}

.main-form__body.project span img {
  margin-right: 8px;
}

.main-form__body.project span:last-child {
  margin-right: 0;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #0D815D;
  padding-bottom: 40px;
}

.footer-nav ul li {
  margin-right: 53px;
}

.footer-nav ul li:last-child {
  margin-right: 0;
}

.footer-nav ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #343228;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.footer-nav ul li a:hover {
  color: #0d805c;
}

.footer-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.footer-mid .footer-col {
  position: relative;
  padding-left: 35px;
}

.footer-mid .footer-col span {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 22px;
  color: #0D815D;
}

.footer-mid .footer-col p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #343228;
  margin-bottom: 4px;
}

.footer-copyright {
  text-align: center;
  margin-bottom: 80px;
}

.footer-copyright span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  text-align: center;
}

.contacts {
  position: relative;
  margin-bottom: 50px;
}

.contacts-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-body h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  color: #343228;
  margin-bottom: 37px;
}

.contacts-block {
  margin-bottom: 23px;
}

.contacts-block h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #0D815D;
}

.contacts-block p {
  margin-bottom: 16px;
}

.contacts-block p,
.contacts-block span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #343228;
  margin-bottom: 0px;
}

.contacts-block a {
  margin: 0 5px;
}

.contacts-block a .icon-tg-icon {
  margin-left: 35px;
}

.contacts-block a span {
  color: #0D815D;
  font-size: 18px;
}

.google-map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
  min-height: 590px;
}

.google-map img {
  width: 100%;
  height: 100%;
}

.contacts-form .main-form__body {
  position: relative;
  background: #ffffff;
  z-index: 4;
  margin-left: 0;
  margin-right: 0;
}

.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 58px;
  color: #343228;
  margin-bottom: 39px;
}

.main-news {
  margin-bottom: 100px;
}

.main-news:hover .main-news__img img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.main-news__img {
  overflow: hidden;
  margin-bottom: 50px;
}

.main-news__img img {
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  width: 100%;
}

.main-news__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.main-news__cat span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-news__cat-category {
  color: #0D805C;
}

.main-news__cat-time {
  color: #B4B4B4;
}

.main-news a {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #343228;
  margin-bottom: 20px;
  display: block;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.main-news a:hover {
  color: #0D805C;
}

.main-news p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #343228;
}

.thumb-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.thumb-news a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #343228;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 20px;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.thumb-news a:hover {
  color: #0D805C;
}

.thumb-news p {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  color: #343228;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 20px;
  max-height: 80px;
  background: white;
}

.thumb-news:hover .main-news__img img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.thumb-news .main-news__img {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-bottom: 20px;
}

.thumb-news .main-news__img img {
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.thumb-news .main-news__cat span {
  font-size: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.thumb-news .main-news__cat-category {
  color: #0D805C;
}

.thumb-news .main-news__cat-time {
  color: #B4B4B4;
}

.post-main h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 38px;
  color: #343228;
  margin-bottom: 47px;
}

.post-main h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 34px;
}

.post-main p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #919191;
  margin-bottom: 20px;
}

.post-main img {
  width: 100%;
  margin-bottom: 57px;
}

.post-main .full-img {
  max-width: 1145px;
  width: 100%;
  margin: 0 auto 57px auto;
  display: block;
}

.post-main blockquote {
  background: #0D805C;
  padding: 35px;
  position: relative;
  margin-bottom: 57px;
}

.post-main blockquote p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.post-main blockquote span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.post-main blockquote .decor {
  position: absolute;
  width: 67px;
  height: 82px;
  top: 24px;
  right: 19px;
}

.modal-content .main-form__body {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.modal-content .main-form__body .close {
  position: absolute;
  top: 5px;
  right: 10px;
  background: transparent;
  border: none;
}

.modal-content .main-form__body h2 {
  text-align: center;
}

.modal-content .main-form__body h3 {
  text-align: center;
}

.modal-content .main-form__body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content .main-form__body form input {
  width: 100%;
}

.modal-content .main-form__body form input:focus {
  border-radius: 0;
}

.project-intro {
  min-height: 380px;
  padding: 130px 0;
}

.project-intro h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  color: #343228;
  display: block;
  margin-bottom: 100px;
}

.project-intro h1 span {
  color: #0B7544;
}

.project-intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #7E7E7E;
  margin-bottom: 0;
}

.project-intro p span {
  font-weight: bold;
  color: #0B7544;
}

.cep-target {
  padding-bottom: 150px;
  position: relative;
}

.cep-target-logo {
  margin-bottom: 85px;
}

.cep-target ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.cep-target ul li h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #343228;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.cep-target ul li div p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #343228;
  margin-bottom: 0;
}

.cep-target-decor {
  position: absolute;
  bottom: 0;
  right: 0;
}

.list-history {
  position: relative;
  overflow: hidden;
}

.list-history li {
  padding: 11px 0;
  margin-bottom: 13px;
}

.list-history li:nth-child(2) .list-history__people .list-history__range {
  max-width: 395px;
}

.list-history li:nth-child(3) .list-history__people .list-history__range {
  max-width: 272px;
}

.list-history li:nth-child(4) .list-history__people .list-history__range {
  max-width: 165px;
}

.list-history li:nth-child(5) .list-history__people .list-history__range {
  max-width: 81px;
}

.list-history__range {
  background: #C4C4C4;
  display: block;
  height: 9px;
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.list-history__range::before {
  content: '';
  width: 19px;
  height: 19px;
  background: url("../img/history-line.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  top: -5px;
  right: -5px;
}

.list-history__year {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.list-history__year h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 38px;
  color: #B4B4B4;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.list-history__year span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #343228;
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
}

.list-history__people {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-left: -98px;
  position: relative;
}

.list-history-banner {
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
  visibility: hidden;
  opacity: 0;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  position: absolute;
  top: -24px;
  right: -153px;
}

.list-history-banner span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 58px;
  color: #0D805C;
  -webkit-clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
          clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
  background: #FFFFFF;
  padding: 1rem 1.4rem;
}

.list-history__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
  margin-left: auto;
}

.list-history__content p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #343228;
  margin-bottom: 0;
}

.list-history li {
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.list-history li:hover h2 {
  color: #0D805C;
}

.list-history li:hover .list-history__year span {
  color: #0D805C;
  text-shadow: 0 0 .9px #0D805C, 0 0 .9px #0D805C;
}

.list-history li:hover .list-history-banner {
  visibility: visible;
  opacity: 1;
}

.list-history li:hover .list-history__range::before {
  background: url("../img/history-line-hover.svg") center no-repeat;
}

.list-history li:hover .people-range span {
  background: url("../img/people-hover.svg") center no-repeat;
}

.list-history li:hover .list-history__content {
  visibility: visible;
  opacity: 1;
}

.people-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #919191;
}

.people-range span {
  -webkit-transition: linear .1s;
  -o-transition: linear .1s;
  transition: linear .1s;
  width: 13px;
  height: 17px;
  background: url("../img/people.svg") center no-repeat;
  background-size: cover;
  margin-right: 4px;
}

.people-range span:last-child {
  margin-right: 10px;
}

.decor-list {
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.results {
  margin-bottom: 101px;
}

.results-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-row::after {
  content: '';
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #C4C4C4;
  width: 100%;
  height: 2px;
  position: absolute;
}

.results-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 95px;
}

.results-item:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.results-item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 399px;
          flex: 0 0 399px;
  padding: 0 40px;
  border-left: 2px solid #C4C4C4;
  border-right: 2px solid #C4C4C4;
}

.results-item:nth-child(2) .results-item__header {
  padding-bottom: 19px;
}

.results-item:nth-child(2) .results-item__footer {
  padding-top: 13px;
}

.results-item:nth-child(2) .results-item__footer-content span {
  font-size: 13px;
}

.results-item:nth-child(2) .results-item__footer-content p {
  font-size: 18px;
  margin-bottom: 0;
}

.results-item:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  padding-left: 29px;
}

.results-item:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 0 13px;
  margin-bottom: 0;
}

.results-item:nth-child(5) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 259px;
          flex: 0 0 259px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #C4C4C4;
  border-right: 2px solid #C4C4C4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.results-item:nth-child(5) .results-item__footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.results-item:nth-child(6) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  padding-left: 29px;
  margin-bottom: 0;
}

.results-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-item__header p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #343228;
}

.results-item__header span {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #919191;
}

.results-item__header b {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #343228;
}

.results-item__header h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #343228;
}

.results-item__header .icon-graph {
  margin-right: 26px;
}

.results-item__header .icon-round {
  margin-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
}

.results-item__header .icon-hand {
  margin-right: 27px;
}

.results-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-item__footer .icon-shield {
  margin-right: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
}

.results-item__footer span {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #919191;
  display: block;
}

.results-item__footer h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #0D805C;
}

.results-item__footer-content span {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #0D805C;
}

.results-item__footer-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #919191;
}

.results-item__header-title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #0D805C;
  display: block;
  margin-bottom: 0;
}

.results-item__header-title span {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #919191;
}

.results-item__header-title p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #343228;
}

.results-item-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.results-item-row .results-item__header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results-item-row .icon-price {
  margin-right: 54px;
}

.model-body {
  position: relative;
}

.model-body .model-main {
  width: 100%;
}

.model-body .model-main.active {
  opacity: .5;
}

.model-body .cep-2 {
  position: absolute;
  bottom: 28%;
  left: 29%;
  cursor: pointer;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.model-body .cep-3 {
  position: absolute;
  bottom: 18%;
  left: 39%;
  cursor: pointer;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.model-body .cep-1 {
  position: absolute;
  bottom: 38%;
  left: 19%;
  cursor: pointer;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.model-body .cep-box1 {
  position: absolute;
  bottom: 55%;
  left: 38%;
  cursor: pointer;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.model-body .cep-box2 {
  position: absolute;
  bottom: 42%;
  left: 51%;
  cursor: pointer;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.model-body .cep-box3 {
  position: absolute;
  bottom: 29%;
  left: 64%;
  cursor: pointer;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.model-body .cep-screen {
  position: absolute;
  top: 13%;
  left: 69%;
  cursor: pointer;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.model-body {
  margin-bottom: 85px;
}

.model-body__card {
  padding: 57px 21px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -5%;
  left: 30%;
  max-width: 480px;
  visibility: hidden;
  opacity: 0;
}

.model-body__card.active {
  visibility: visible;
  opacity: 1;
}

.model-body__card::before {
  content: '';
  position: absolute;
  bottom: 20%;
  left: -18%;
  -webkit-clip-path: polygon(100% 75%, 0 0, 100% 0);
          clip-path: polygon(100% 75%, 0 0, 100% 0);
  background: #FFFFFF;
  width: 94px;
  height: 57px;
}

.model-body__card hr {
  margin-bottom: 25px;
}

.model-body__card article h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #343228;
  display: block;
  margin-bottom: 22px;
}

.model-body__card article p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #343228;
}

.model-body #cep-2-modal {
  top: 5%;
  left: 40%;
}

.model-body__card-img {
  margin-bottom: 60px;
}

.tour {
  margin-bottom: 103px;
}

.tour-body {
  position: relative;
  min-height: 501px;
}

.tour-body .pre-load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tour-body__card {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 87px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour-body__card h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 39px;
}

.tour-body__card .btn {
  border: none;
  background: transparent;
  margin-bottom: 22px;
}

.tour-body__card .btn:focus {
  outline: none;
  border: none;
}

.tour-body__card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -30%;
}

.tour-body__card p img {
  margin-right: 10px;
}

.tour-body__card p span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.tour-body__card .btn-tour {
  background: #19BD8A;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #343228;
  padding: 14px 40px;
}

.geo {
  margin-bottom: 117px;
}

.geo-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.geo-sub__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
}

.geo-sub__block:last-child {
  margin-right: 0;
}

.geo-sub__active-subscribe {
  margin-left: 19px;
}

.geo-sub__active-subscribe p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #0D805C;
  margin-bottom: 0;
}

.geo-sub__active-subscribe span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #0D805C;
}

.geo-main {
  position: relative;
}

.geo-main__map {
  width: 100%;
}

.geo-main .geo-name {
  cursor: pointer;
}

.geo-main .geo-name p {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-bottom: 0;
}

.geo-main .geo-name.not-active:hover p {
  background: #DC1818;
  z-index: 10;
}

.geo-main .geo-name.not-active:hover p::before {
  background: #DC1818;
}

.geo-main .geo-name:hover p {
  visibility: visible;
  opacity: 1;
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #0D805C;
  white-space: nowrap;
  padding: 2px;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.geo-main .geo-name:hover p::before {
  content: '';
  bottom: 0;
  position: absolute;
  background: #0D805C;
  -webkit-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  width: 30%;
  height: 1px;
  left: 50%;
  z-index: -1;
}

.geo-main .saintp {
  position: absolute;
  top: 29%;
  left: 14%;
}

.geo-main .moscow {
  position: absolute;
  top: 43%;
  left: 13.5%;
}

.geo-main .moscow p::before {
  width: 60% !important;
}

.geo-main .c1 {
  position: absolute;
  top: 45%;
  left: 15%;
}

.geo-main .c1 p::before {
  width: 60% !important;
}

.geo-main .c3 {
  position: absolute;
  top: 49%;
  left: 17%;
}

.geo-main .c3 p::before {
  width: 60% !important;
}

.geo-main .belgorod {
  position: absolute;
  top: 53%;
  left: 9.5%;
}

.geo-main .belgorod p::before {
  width: 60% !important;
}

.geo-main .c4 {
  position: absolute;
  top: 60%;
  left: 7.5%;
}

.geo-main .c4 p::before {
  width: 60% !important;
}

.geo-main .c5 {
  position: absolute;
  top: 60%;
  left: 10.5%;
}

.geo-main .c5 p::before {
  width: 60% !important;
}

.geo-main .c6 {
  position: absolute;
  top: 60%;
  left: 18%;
}

.geo-main .c6 p::before {
  width: 60% !important;
}

.geo-main .c7 {
  position: absolute;
  top: 56%;
  left: 17%;
}

.geo-main .c7 p::before {
  width: 60% !important;
}

.geo-main .kazan {
  position: absolute;
  top: 56%;
  left: 20%;
}

.geo-main .kazan p::before {
  width: 60% !important;
}

.geo-main .c8 {
  position: absolute;
  top: 64%;
  left: 22%;
}

.geo-main .c8 p::before {
  width: 60% !important;
}

.geo-main .c9 {
  position: absolute;
  top: 67%;
  left: 26%;
}

.geo-main .c9 p::before {
  width: 60% !important;
}

.geo-main .c10 {
  position: absolute;
  top: 67%;
  left: 28.5%;
}

.geo-main .c10 p::before {
  width: 60% !important;
}

.geo-main .ekb {
  position: absolute;
  top: 59%;
  left: 28.5%;
}

.geo-main .ekb p::before {
  width: 34% !important;
}

.geo-main .c11 {
  position: absolute;
  top: 67%;
  left: 32%;
}

.geo-main .c11 p::before {
  width: 34% !important;
}

.geo-main .c12 {
  position: absolute;
  top: 73%;
  left: 34%;
}

.geo-main .c12 p::before {
  width: 34% !important;
}

.geo-main .novosib {
  position: absolute;
  top: 77%;
  left: 41%;
}

.geo-main .novosib p::before {
  width: 34% !important;
}

.geo-main .c13 {
  position: absolute;
  top: 79%;
  left: 45%;
}

.geo-main .c13 p::before {
  width: 34% !important;
}

.geo-main .c14 {
  position: absolute;
  top: 75%;
  left: 50%;
}

.geo-main .c14 p::before {
  width: 34% !important;
}

.market-place-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 40px;
}

.market-place__graph {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 463px;
          flex: 0 0 463px;
  height: 463px;
}

.market-place__graph-1 {
  position: absolute;
  height: 100%;
  background: #D8D8D8;
  border: 1px solid rgba(13, 128, 92, 0.08);
  width: 100%;
  border-radius: 50%;
  text-align: center;
  padding-top: 40px;
  z-index: 10;
}

.market-place__graph-1::before {
  content: '';
  width: 734px;
  position: absolute;
  top: 0;
  left: 127%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background: #d8d8d8;
}

.market-place__graph-1:after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d8d8d8;
  top: -8px;
  left: 205%;
  position: absolute;
}

.market-place__graph-1 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}

.market-place__graph-1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #343228;
}

.market-place__graph-2 {
  position: absolute;
  height: 71%;
  width: 100%;
  max-width: 326px;
  background: #0BCA8E;
  z-index: 11;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding-top: 40px;
}

.market-place__graph-2::before {
  content: '';
  width: 734px;
  position: absolute;
  top: 0;
  left: 160%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background: #0BCA8E;
}

.market-place__graph-2:after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0BCA8E;
  top: -8px;
  left: 270%;
  position: absolute;
}

.market-place__graph-2 h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.market-place__graph-2 p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.market-place__graph-3 {
  position: absolute;
  height: 37%;
  width: 100%;
  max-width: 166px;
  background: #0D805C;
  z-index: 11;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding-top: 40px;
  z-index: 12;
}

.market-place__graph-3::before {
  content: '';
  width: 734px;
  position: absolute;
  top: 0;
  left: 267%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background: #0D805C;
}

.market-place__graph-3:after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0D805C;
  top: -8px;
  left: 481%;
  position: absolute;
}

.market-place__graph-3 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
}

.market-place__graph-3 p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.market-place {
  margin-bottom: 95px;
}

.market-place__description {
  position: relative;
  top: -42px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
}

.market-place__marker {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #343228;
}

.description-block {
  margin-bottom: 65px;
}

.description-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5px;
}

.description-block__title img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
}

.description-block__title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #0D805C;
  margin-bottom: 0;
}

.description-block p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #343228;
}

.invest .section-title {
  margin-bottom: 108px;
}

.invest-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 70px;
}

.invest-card__icon {
  margin-bottom: 40px;
}

.invest-card p {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #343228;
}

.calc {
  margin-bottom: 160px;
}

.calc .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.calc-description h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #343228;
  display: block;
  margin-bottom: 40px;
}

.calc-description ul {
  padding-left: 40px;
}

.calc-description ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
  position: relative;
  margin-bottom: 25px;
}

.calc-description ul li::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 10px;
  width: 15px;
  height: 2px;
  background: #0D805C;
}

.calc-description ul li span {
  font-weight: bold;
  color: #343228;
}

.calculator {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  padding: 45px 60px 11px 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62%;
          flex: 0 0 62%;
}

.calculator-invest span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #343228;
  margin-bottom: 5px;
  display: block;
}

.calculator-invest #invest {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #0D805C;
  padding: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #343228;
  margin-bottom: 23px;
}

.calculator-invest #range-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator-invest input {
  display: block;
  width: 250px;
}

.calculator-select span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #343228;
  margin-bottom: 5px;
  display: block;
}

.calculator-select input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.calculator-select label {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #0D805C;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #343228;
}

.calculator-select input[type='radio']:checked + label {
  background: #0D805C;
  color: #FFFFFF;
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-footer__total span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #343228;
}

.form-footer__total p {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #0D805C;
}

.form-footer__total-procent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-footer__total-procent p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #343228;
}

.form-footer button {
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #0B7544;
  border: none;
  padding: 0 32px;
}

.form-footer button:focus {
  border: none;
  outline: none;
}

input[type='range'] {
  -webkit-appearance: none !important;
  background: #0D805C;
  height: 2px;
  margin-bottom: 20px;
}

input[type='range']:focus {
  border: none;
  outline: none;
}

input[type='range']::-webkit-fill-upper {
  background: #C4C4C4;
  border-radius: 0;
}

input[type='range']::-moz-fill-upper {
  background: #C4C4C4;
  border-radius: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #0D805C;
  height: 14px;
  width: 14px;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.lock {
  overflow: hidden;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 11;
}

main {
  margin-top: 145px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 110px;
  opacity: 1;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  overflow-x: hidden;
}

main.active {
  opacity: 0;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1145px;
}

.container-sm {
  max-width: 962px;
}

.home {
  margin: 0;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #343228;
  text-align: center;
  margin-bottom: 66px;
}

.section-title span {
  color: #0D805C;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a* {
  text-decoration: none;
}

a*:hover {
  text-decoration: none;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

@media (max-width: 991px) {
  .main-menu {
    padding-top: 100px;
  }

  .close-menu {
    width: 25px;
    height: 25px;
    top: -226px;
    right: 5px;
    background: transparent;
  }

  .main-menu__list ul li {
    margin-bottom: 10px;
  }

  .main-menu__list ul li a {
    font-size: 28px;
    line-height: 36px;
  }

  .main-menu__adress {
    position: relative;
    padding: 40px 20px;
  }

  .main-menu__adress {
    padding: 40px 20px;
  }

  .main-menu__adress-block {
    margin-bottom: 20px;
  }

  .main-menu__adress-block p,
  .main-menu__adress-block span {
    margin-bottom: 8px;
  }

  .our-team__photo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .google-map {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    min-height: 220px;
  }
}

@media (max-width: 844px) {
  .footer-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-nav ul li {
    margin-right: 0;
  }

  .footer-mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer-mid .footer-col {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 100%;
  }

  .hero {
    background-size: cover;
    background-position-x: 47%;
    -webkit-clip-path: polygon(50% 88%, 100% 80%, 100% 0, 0 0, 0 77%);
            clip-path: polygon(50% 88%, 100% 80%, 100% 0, 0 0, 0 77%);
  }
}

@media (max-width: 705px) {
  .main-logo {
    position: unset;
    top: unset;
    left: unset;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    margin-left: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 200px;
  }

  .main-logo img {
    width: 100%;
  }

  .header-tg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 11px;
  }

  .header-wtsp {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header-tel {
    display: none;
  }

  .carousel-item h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .hero-content {
    margin-top: 30%;
    margin-bottom: 10px;
  }

  .our-team__row {
    margin-bottom: 40px;
  }

  .our-team__row:nth-child(2n+2) .our-team__description {
    padding-left: 0;
  }

  .our-team__row:nth-child(2n+1) .our-team__description {
    padding-right: 0;
  }

  .our-team__photo {
    margin-bottom: 20px;
  }

  .our-team__description h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .our-team__description h3 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  .our-team__description p {
    margin-bottom: 20px;
  }

  .main-form__body {
    padding: 20px;
  }

  .main-form__body form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-form__body form input {
    width: 100%;
    margin-right: 0;
  }

  .main-form__body.project form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-news {
    margin-bottom: 20px;
  }

  .main-news__img {
    margin-bottom: 20px;
  }

  .main-news__cat {
    margin-bottom: 20px;
  }

  .main-news a {
    font-size: 18px;
  }

  .thumb-news {
    margin-bottom: 20px;
  }

  .post-main h2 {
    font-size: 24px;
  }

  main {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .section-title {
    margin-bottom: 20px;
  }
}

@media (max-width: 475px) {
  .main-form__body h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .main-form__body h3 {
    margin-bottom: 20px;
  }
}

@media (max-width: 448px) {
  .footer-mid .footer-col p {
    font-size: 14px;
  }
}

@media (max-width: 398px) {
  .main-menu__adress-block p,
  .main-menu__adress-block span {
    font-size: 14px;
  }
}