    @charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,300;0,400;1,700&display=swap");
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
 :active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    position: relative;
    width: 100%;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "Raleway";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body.lock {
    overflow: hidden;
}

@media (max-width: 767.98px) {
    body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden;
    }
}

input,
button,
textarea {
    font-family: "Raleway";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 1182px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992.98px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}

.btn {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    align-self: flex-start;
    text-align: center;
    padding: 20px 25px;
}

.header-bg {
    background: url("../img/-e-img.png") 0 0 no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-position: center;
}


/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
}


/* стилизуем кнопку */

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: relative;
    width: 40px;
    height: 40px;
    left: 100px;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
}

@media screen and (max-width: 375px) {
    .menu__btn {
        visibility: visible;
    }
}


/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: "";
    top: -8px;
}

.menu__btn>span::after {
    content: "";
    top: 8px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 258px;
}

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .navigation {
        flex-direction: row;
    }
}

.navigation__logo {
    color: #262626;
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 400;
}

.navigation #menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

.navigation #menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

.navigation #menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

.navigation__menu {
    transition: 1.5ms;
    transition-duration: 0.25s;
    position: relative;
}

@media screen and (max-width: 375px) {
    .navigation__menu {
        visibility: hidden;
        top: 160px;
        left: -100%;
    }
    #menu__toggle:checked~.navigation__menu {
        visibility: visible;
        top: 160px;
        left: -200px;
    }
}

.navigation__menu .menu-list {
    display: flex;
}

@media screen and (max-width: 375px) {
    .navigation__menu .menu-list {
        flex-direction: column;
    }
}

.navigation__menu .menu-items {
    margin-right: 40px;
}

@media screen and (max-width: 375px) {
    .navigation__menu .menu-items {
        margin-right: 5px;
        margin-bottom: 20px;
    }
}

.navigation__menu .menu-link {
    color: #262626;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    position: relative;
}

.navigation__menu .menu-link--active:before {
    content: "";
    position: absolute;
    border-top: 3px solid red;
    height: 3px;
    width: 100%;
    bottom: 30px;
}

.header-content {
    display: flex;
    flex-direction: column;
    flex: 0 1 372px;
    max-width: 372px;
    padding-bottom: 50%;
}

@media screen and (max-width: 768px) {
    .header-content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .header-content {
        margin: 0 auto;
    }
}

.header-content__title {
    color: #262626;
    font-family: "Raleway";
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 34px;
}

@media screen and (max-width: 768px) {
    .header-content__title {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .header-content__title {
        text-align: center;
    }
}

.header-content__text {
    color: #262626;
    font-family: "Raleway";
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 31px;
}

@media screen and (max-width: 768px) {
    .header-content__text {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .header-content__text {
        text-align: center;
    }
}

.header-content__btn {
    background-color: #ff6033;
}

@media screen and (max-width: 768px) {
    .header-content__btn {
        align-self: center;
    }
}

@media screen and (max-width: 375px) {
    .header-content__btn {
        align-self: center;
    }
}

.scroll-main {
    position: absolute;
    bottom: 8%;
    left: 50%;
}

@media screen and (max-width: 340px) {
    .scroll-main {
        bottom: 10%;
    }
}

.block-plate {
    background: #00b1b1;
}

@media screen and (max-width: 340px) {
    .block-plate {
        margin-top: -15%;
    }
}

.plate-body {
    margin-top: -80px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
}

.plate-body__img {
    flex: 0 0 647px;
    max-width: 647px;
    margin-left: -65px;
}

@media screen and (max-width: 768px) {
    .plate-body__img {
        max-width: 347px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 375px) {
    .plate-body__img {
        display: none;
    }
}

.plate-body__img img {
    width: 100%;
    padding-right: 107px;
}

@media screen and (max-width: 768px) {
    .plate-body__article {
        padding-right: 20px;
    }
    @media screen and (max-width: 375px) {
        .plate-body__article {
            padding-right: 0px;
        }
    }
    .plate-body__title {
        color: #ffffff;
        font-family: "Raleway";
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 34px;
    }
    @media screen and (max-width: 768px) {
        .plate-body__title {
            font-size: 45px;
        }
    }
    @media screen and (max-width: 375px) {
        .plate-body__title {
            text-align: center;
            font-size: 40px;
        }
    }
    .plate-body__text {
        color: #ffffff;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
    }
    @media screen and (max-width: 375px) {
        .plate-body__text {
            text-align: center;
            font-size: 22px;
        }
    }
    .block-tomato {
        background: #70bfff;
    }
    .tomato-body {
        padding: 100px 0px 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and (max-width: 375px) {
        .tomato-body__list {
            margin: 0 auto;
        }
    }
    .tomato-body__item {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
        align-items: center;
    }
    .tomato-body__link {
        color: #262626;
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 900;
        line-height: 27px;
        margin: 0 auto;
        padding: 7px 20px;
        max-width: 280px;
    }
    .tomato-body__icon {
        border-left: 1px solid black;
        width: 87px;
        height: 70px;
        padding: 5px 20px;
    }
    .tomato-body__img {
        position: relative;
        max-width: 620px;
        flex: 1 0 auto;
    }
    @media screen and (max-width: 768px) {
        .tomato-body__img {
            max-width: 320px;
        }
    }
    @media screen and (max-width: 375px) {
        .tomato-body__img {
            display: none;
        }
    }
    .tomato-body__img img {
        width: 100%;
    }
    .tomato-body__title {
        top: 45%;
        left: 1%;
        position: absolute;
        color: #ffffff;
        font-family: Raleway;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px;
    }
    @media screen and (max-width: 768px) {
        .tomato-body__title {
            font-size: 50px;
        }
    }
    .block-gallery {
        background-color: #ffe92f;
        padding-bottom: 40px;
    }
    .gallery-body {
        text-align: center;
        padding-top: 100px;
    }
    .gallery-body__title {
        color: #262626;
        font-family: "Raleway";
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .gallery-body__text {
        display: inline-block;
        max-width: 577px;
        color: #262626;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 45px;
    }
    .gallery-body__row {
        display: flex;
    }
    @media screen and (max-width: 375px) {
        .gallery-body__row {
            flex-direction: column;
        }
        .gallery-body__row .gallery-body__item {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
    .gallery-body__item {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .gallery-body__item img {
        width: 100%;
    }
    .gallery-body__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @media screen and (max-width: 375px) {
        .gallery-body__column img {
            margin-bottom: 20px;
        }
    }
    .gallery-body__btn {
        background-color: #5585a2;
    }
    .block-suscribe {
        background: url("../img/bg-sus.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .suscribe-body {
        padding: 145px 0px 160px 0px;
    }
    .suscribe-body__title {
        color: #262626;
        font-family: "Raleway";
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 34px;
    }
    @media screen and (max-width: 768px) {
        .suscribe-body__title {
            text-align: center;
        }
    }
    @media screen and (max-width: 375px) {
        .suscribe-body__title {
            text-align: center;
        }
    }
    .suscribe-body__text {
        max-width: 541px;
        display: inline-block;
        color: #262626;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 31px;
    }
    @media screen and (max-width: 768px) {
        .suscribe-body__text {
            text-align: center;
            min-width: 100%;
        }
    }
    @media screen and (max-width: 375px) {
        .suscribe-body__text {
            text-align: center;
            min-width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        .suscribe-body__form {
            text-align: center;
        }
    }
    @media screen and (max-width: 375px) {
        .suscribe-body__form {
            text-align: center;
        }
    }
    .suscribe-body__input {
        padding: 20px 0 20px 15px;
        color: #262626;
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 300;
        width: 570px;
        border: 1px solid #262626;
        margin-right: 15px;
    }
    @media screen and (max-width: 768px) {
        .suscribe-body__input {
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width: 375px) {
        .suscribe-body__input {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .suscribe-body__btn {
        background-color: #96b92c;
    }
    .block-blog {
        background-color: #b07cf7;
    }
    .blog-body {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .blog-body__title {
        color: #ffffff;
        font-family: "Raleway";
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .blog-body__text {
        max-width: 563px;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 300;
        display: inline-block;
        margin-bottom: 47px;
    }
    .blog-body__row {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
    }
    @media screen and (max-width: 768px) {
        .blog-body__row {
            flex-direction: column;
        }
    }
    @media screen and (max-width: 375px) {
        .blog-body__row {
            flex-direction: column;
        }
    }
    .blog-body__card {
        margin-right: 20px;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
    @media screen and (max-width: 768px) {
        .blog-body__card {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 375px) {
        .blog-body__card {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
    .blog-body__card-date {
        max-width: 60px;
        border-radius: 5px;
        background-color: #262626;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 21px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .blog-body__card-title {
        text-align: left;
        margin-top: 160px;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 700;
    }
    .blog-body__card-text {
        margin-bottom: 15px;
        margin-top: 10px;
        text-align: left;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 13px;
        font-weight: 300;
    }
    .blog-body__btn {
        background-color: #f72b3b;
    }
    .card-1 {
        background: url("../img/bgc1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card-2 {
        background: url("../img/bgc2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card-3 {
        background: url("../img/bgc3.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .block-contacts {
        background: url("../img/contatc-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .contacts-body {
        padding: 100px 0 120px 0;
        text-align: center;
    }
    .contacts-body__title {
        text-align: center;
        color: #262626;
        font-family: "Raleway";
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 48px;
    }
    @media screen and (max-width: 375px) {
        .contacts-body__title {
            font-size: 40px;
        }
    }
    .contacts-body__text {
        color: #262626;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 300;
        display: inline-block;
        text-align: center;
        max-width: 362px;
        margin-bottom: 46px;
    }
    .contacts-body__row {
        display: flex;
    }
    .contacts-body__form {
        margin-right: 60px;
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 768px) {
        .contacts-body__form {
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 375px) {
        .contacts-body__form {
            margin: 0 auto;
        }
    }
    .contacts-body__input::placeholder {
        color: #ffffff;
    }
    .contacts-body__input {
        padding: 20px 0 20px 20px;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 700;
        width: 500px;
        background-color: rgba(0, 196, 196, 0.5);
        margin-bottom: 15px;
    }
    @media screen and (max-width: 375px) {
        .contacts-body__input {
            width: 300px;
        }
    }
    .contacts-body__textarea::placeholder {
        color: #ffffff;
    }
    .contacts-body__textarea {
        padding: 20px 0 20px 20px;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 700;
        width: 500px;
        height: 250px;
        background-color: rgba(0, 196, 196, 0.5);
        resize: none;
    }
    @media screen and (max-width: 375px) {
        .contacts-body__textarea {
            width: 300px;
        }
    }
    .contacts-body__contacts {
        margin-left: 110px;
        text-align: left;
    }
    @media screen and (max-width: 768px) {
        .contacts-body__contacts {
            display: none;
            margin-left: 0px;
        }
    }
    @media screen and (max-width: 375px) {
        .contacts-body__contacts {
            display: none;
            margin-left: 0px;
        }
    }
    .contacts-body__name {
        color: #262626;
        font-family: "Raleway";
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 16px;
    }
    .contacts-body__adress {
        color: #262626;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 28px;
    }
    .footer-bg {
        padding: 37px 0;
        background-color: #262626;
    }
    .footer-body {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (max-width: 375px) {
        .footer-body {
            flex-direction: column;
            text-align: center;
        }
    }
    .footer-body__copyright {
        color: #b9b9b9;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 300;
    }
    @media screen and (max-width: 375px) {
        .footer-body__copyright {
            margin-bottom: 10px;
        }
    }
    .footer-body__logo {
        color: #b9b9b9;
        font-family: "Pacifico";
        font-size: 25px;
        font-weight: 400;
    }
    @media screen and (max-width: 375px) {
        .footer-body__logo {
            margin-bottom: 10px;
        }
    }
    .footer-body__madeby {
        color: #b9b9b9;
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
    }
    @media screen and (max-width: 375px) {
        .footer-body__madeby {
            margin-bottom: 10px;
        }
    }