.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__links a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #161616;
  white-space: nowrap;
}

.header-top__links a:hover {
  color: #bb1e1e;
}

.header-top__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 60px;
}

.header-top__lang a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #161616;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin-right: 17px;
}

.header-top__lang a:hover {
  color: #bb1e1e;
}

.header-top__lang a:last-child {
  margin-right: 0;
}

.header-top__lang a.active {
  color: #161616;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__social a {
  font-size: 22px;
  margin-right: 20px;
}

.header-top__social a:last-child {
  margin-right: 0;
}

.logo {
  width: 155px;
  display: block;
  margin: 0 15px 20px 0;
}

.logo img {
  width: 100%;
}

.header-bottom nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.header-bottom nav ul li {
  width: 88px;
  height: 66px;
  border-radius: 8px;
  margin-right: 18px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.header-bottom nav ul li:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
      transform: translateY(-10px);
}

.header-bottom nav ul li:last-child {
  margin-right: 0;
}

.header-bottom nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.header-bottom nav ul li a span {
  display: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-bottom nav ul li a .card-icon {
  width: 40px;
  height: 40px;
  display: block !important;
}

.header-bottom nav ul li a .card-icon img {
  width: 100%;
}

.header-bottom nav ul li.active {
  width: 272px;
  height: 128px;
  padding: 40px;
}

.header-bottom nav ul li.active a span {
  display: block;
}

.header-bottom nav ul li.active a .card-icon {
  display: none !important;
}

.mobile-menu {
  margin: 20px 0;
  background: #E4243D;
  display: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 66px;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.mobile-menu:hover {
  text-decoration: none;
  color: #fff;
}

.mobile-menu .iconify {
  font-size: 24px;
}

.fond {
  background: #E4243D;
}

.project {
  background: #E48C24;
}

.fond-comp {
  background: #29B43F;
}

.calendar {
  background: #BD3333;
}

.company-rate {
  background: #2D9B1B;
}

.fond-gallery {
  background: #FBC412;
}

.fond-partners {
  background: #2C29B4;
}

.fond-target {
  background: #E01483;
}

.education {
  background: #9B1B49;
}

.count-trees {
  background: #CB2020;
}

.ecology {
  background: #29B49B;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.main-body {
  padding: 16px 0;
}

.main-body__card {
  padding: 10px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E4243D;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.main-body__card:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
      transform: translateY(-10px);
}

.main-body__card:hover {
  text-decoration: none;
  opacity: .87;
}

.main-body__card.fond {
  background: #E4243D;
}

.main-body__card.project {
  background: #E48C24;
}

.main-body__card.fond-comp {
  background: #29B43F;
}

.main-body__card.calendar {
  background: #BD3333;
}

.main-body__card.company-rate {
  background: #2D9B1B;
}

.main-body__card.fond-gallery {
  background: #FBC412;
}

.main-body__card.fond-partners {
  background: #2C29B4;
}

.main-body__card.fond-target {
  background: #E01483;
}

.main-body__card.education {
  background: #9B1B49;
}

.main-body__card.count-trees {
  background: #CB2020;
}

.main-body__card.ecology {
  background: #29B49B;
}

.main-body__card .card-icon {
  position: relative;
  padding: 0 0 28px 0;
}

.main-body__card .card-icon::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #FFFFFF;
  border-radius: 24px;
  width: 26px;
  height: 4px;
}

.main-body__card span {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 0 0 0;
}

.round-btn {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.round-btn.aside {
  min-height: 180px;
  height: unset;
}

.round-btn .round-main {
  width: 100%;
  background: url("../img/icons/round.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-animation: rotate-center 4s linear infinite;
  animation: rotate-center 4s linear infinite;
}

.round-btn a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #29B43F;
}

.news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-btn:hover {
  opacity: .87;
}

.news-btn img {
  max-width: 296px;
  width: 100%;
}

.main-content {
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main-content h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161616;
  position: relative;
  margin-left: 48px;
}

.main-content h2::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 3px;
  background: #29B43F;
  border-radius: 6px;
  left: -48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-content h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161616;
  position: relative;
  margin-left: 48px;
}

.main-content h1::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 3px;
  background: #29B43F;
  border-radius: 6px;
  left: -48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #161616;
  margin-bottom: 30px;
}

.main-content img {
  width: 100%;
}

.aside-content {
  -webkit-animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.aside-content .aside-card {
  padding: 13px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.aside-content .aside-card h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.aside-content .aside-card a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.aside-content .aside-card a:hover {
  text-decoration: underline;
}

.aside-content .aside-card a span {
  margin-left: 5px;
}

.red {
  background: #bd3333b8;
}

.purple {
  background: #2b29b4b8;
}

.green {
  background: #29b49bb8;
}

.main-post .btn-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 40px;
  display: block;
}

.main-post .btn-title .iconify {
  margin-right: 5px;
}

.main-post h2 {
  margin-bottom: 37px;
}

.main-post img {
  border-radius: 10px;
}

.post-body {
  padding-right: 50px;
}

.scroll-content .simplebar-scrollbar::before {
  background-color: #E48C24;
  border-radius: 19px;
}

.scroll-content .simplebar-track {
  background-color: #333333;
  border-radius: 19px;
}

.scroll-content::-webkit-scrollbar-thumb {
  background-color: #E48C24;
  border-radius: 19px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 19px;
  margin: 10px 0;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 19px;
}

#dLabel {
  height: 40px;
  background-color: transparent;
  text-align: left;
  color: #ccc;
  letter-spacing: 0.7px;
  margin-top: 25px;
  border: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: underline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.caret {
  float: right;
  margin-top: 9px;
  display: block;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  background: #ccc;
  -webkit-transform: unset !important;
      -ms-transform: unset !important;
          transform: unset !important;
}

.dropdown button:hover,
.dropdown button:focus {
  border: none;
  outline: 0;
}

.calendar-icon {
  width: 40px;
  height: 36px;
  display: inline-block;
}

.calendar-icon img {
  width: 100%;
}

.dropdown.open ul {
  border-top: none;
  height: 200px;
  overflow-y: scroll;
}

.dropdown-menu li {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: underline;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  padding: 7.5px 15px;
  border-top: solid 1px #f3f3f3;
}

.dropdown-menu li:hover {
  background-color: transparent;
}

.calendar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar-date {
  margin-bottom: 19px;
  margin-left: auto;
}

.calendar-header {
  margin-bottom: 19px;
}

.calendar-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.calendar-header ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100%/7);
          flex: 0 0 calc(100%/7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calendar-header ul li span {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  color: #FFFFFF;
}

.calendar-body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.calendar-body ul li {
  border: 1px solid #9B9B9B;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100%/7);
          flex: 0 0 calc(100%/7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 168px;
}

.calendar-body ul li span {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  color: #FFFFFF;
  position: absolute;
  top: 8px;
  right: 8px;
}

.calendar-body ul li p {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.calendar-body .green {
  background: #219653;
}

.calendar-body .blue {
  background: #2D9CDB;
}

.calendar-body .purp {
  background: #9B51E0;
}

.calendar-body .orange {
  background: #F2994A;
}

.slider-item {
  cursor: pointer;
}

.slider-item__img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.slider-item__body {
  background: #FAFAFA;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: -3px;
}

.slider-item__body p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #161616;
}

.slider-item__body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.slider-item__body-header h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161616;
  position: relative;
  margin-left: 43px;
  margin-bottom: 0;
}

.slider-item__body-header h2::before {
  content: '';
  background: #29B43F;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  width: 28px;
  height: 3px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -43px;
}

.slider-item__body-header span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #29B43F;
}

.slider-main {
  margin-bottom: 20px;
  /* the slides */
  /* the parent */
}

.slider-main .slick-center {
  -webkit-filter: unset !important;
  filter: unset !important;
}

.slider-main .slick-slide {
  -webkit-filter: contrast(25%);
  filter: contrast(25%);
  -webkit-transition: -webkit-filter linear .2s;
  transition: -webkit-filter linear .2s;
  -o-transition: filter linear .2s;
  transition: filter linear .2s;
  transition: filter linear .2s, -webkit-filter linear .2s;
  margin: 0 27px;
  border-radius: 10px !important;
}

.slider-main .slick-slide:focus {
  outline: none;
}

.gallery-slider {
  position: relative;
}

.product-slider__thumb-prev,
.product-slider__thumb-next {
  width: 64px;
  height: 64px;
  background: #29B43F;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 23px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product-slider__thumb-prev {
  left: 50px;
}

.product-slider__thumb-next {
  right: 50px;
}

.partner-body__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.partner-body__card-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 176px;
          flex: 0 0 176px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.partner-body__card-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 780px;
          flex: 0 0 780px;
}

.partner-body__card-text h2 {
  margin-bottom: 43px;
  margin-left: 0;
}

.partner-body__card-text h2::after {
  content: '';
  width: 28px;
  height: 3px;
  background: #29B43F;
  border-radius: 6px;
  bottom: -23px;
  left: 0;
  top: unset;
  position: absolute;
}

.partner-body__card-text a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #29B43F;
}

.circle-count {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle-count p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.circle-count span {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #29B43F;
}

.circle-count h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.bar-circle svg {
  width: 430px;
  height: 430px;
}

.bar-circle .circle-progress-value {
  stroke-width: 10px;
  stroke: #29B43F;
  stroke-linecap: round;
}

.bar-circle .circle-progress-circle {
  stroke-width: 10px;
  stroke: #C5E5CA;
}

.bar-circle-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 430px;
  height: 430px;
  margin: 50px auto;
  position: relative;
}

.e-card {
  border-radius: 12px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: transparent;
}

.e-card__img img {
  width: 100%;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.e-card span {
  position: absolute;
  top: 8px;
  right: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #29B43F;
}

.e-card h3 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cards-content {
  padding: 30px 0;
}

.tags-row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
}

.tags-row::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
  display: none !important;
  background: transparent;
}

.tags-row a {
  background: #29B43F;
  border-radius: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding: 5px 27px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.tags-row a:last-child {
  margin-right: 0;
}

.education-tab {
  border-bottom: none;
  overflow: hidden;
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.education-tab::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
  display: none !important;
  background: transparent;
}

.education-tab ::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 19px;
  margin: 10px 0;
}

.education-tab ::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 19px;
}

.education-tab .nav-link {
  border: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 13px 50px;
  white-space: nowrap;
}

.education-tab .nav-link:first-child {
  padding-left: 0;
}

.education-tab .nav-link.active {
  background: transparent !important;
  color: #29B43F;
  border-bottom: 1px solid #29B43F;
}

.education-tab .nav-item {
  margin-bottom: 0;
}

.education-tab .nav-item:first-child .nav-link {
  padding-left: 0;
}

.education-tab .nav-item:last-child .nav-link {
  padding-right: 0;
}

.scroll-content.education-body {
  padding-right: 80px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

body.error {
  background: none;
}

.container {
  max-width: 1470px;
}

header {
  margin: 26px 0 0 0;
}

main {
  padding: 20px 0 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #29B43F;
  margin-bottom: 10px;
  display: block;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 15px 0;
}

.breadcrumb-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #161616;
}

.breadcrumb-item a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #161616;
}

.breadcrumb-item::after {
  display: inline-block;
  padding-left: .5rem;
  color: #161616;
  content: ">";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-item:last-child::after {
  display: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.news-body:nth-child(8n-7) .news-card .news-card__text {
  background: #BD3333;
}

.news-body:nth-child(8n-6) .news-card .news-card__text {
  background: #2C29B4;
}

.news-body:nth-child(8n-5) .news-card .news-card__text {
  background: #29B49B;
}

.news-body:nth-child(8n-4) .news-card .news-card__text {
  background: #FBC412;
}

.news-body:nth-child(8n-3) .news-card .news-card__text {
  background: #E01483;
}

.news-body:nth-child(8n-2) .news-card .news-card__text {
  background: #9B1B49;
}

.news-body:nth-child(8n-1) .news-card .news-card__text {
  background: #29B43F;
}

.news-body:nth-child(8n) .news-card .news-card__text {
  background: #E48C24;
}

.news-card {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
}

.news-card:hover .news-card__img img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.news-card__img {
  position: relative;
  overflow: hidden;
  min-height: 216px;
}

.news-card__img img {
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-card__img span {
  position: absolute;
  top: 15px;
  left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.news-card__text {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  top: -3px;
  opacity: 0.8;
}

.news-card__text h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.news-card__text a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.error-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #131313;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error-main .error-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  height: 100vh;
}

.error-main .error-body__img {
  margin-bottom: 70px;
}

.error-main .error-body__img img {
  width: 100%;
}

.error-main .error-body h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.error-main .error-body a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 154.19%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding: 20px 80px;
  background: #29B43F;
  border-radius: 7px;
  text-align: center;
}

.error-main .error-body a:hover {
  text-decoration: none;
}

@media (min-width: 992px) and (max-height: 700px) {
  .main-body__card .card-icon {
    width: 64px;
    height: 64px;
  }

  .main-body__card .card-icon img {
    width: 64px;
  }
}

@media (max-width: 1495px) {
  .partner-body__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partner-body__card-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 1377px) {
  .main-content {
    padding: 40px 15px;
  }

  body {
    overflow: auto;
  }

  main {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
  }
}

@media (max-width: 1204px) {
  .scroll-content.education-body {
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .header-bottom nav ul li {
    margin-right: 5px;
  }

  .header-bottom nav ul li a .card-icon {
    width: 24px;
    height: 24px;
  }

  .header-bottom nav ul li.active {
    width: 150px;
    height: 150px;
    padding: 10px;
  }

  .header-bottom nav ul li.active a span {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .header-top__nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header-top__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .header-top__links a {
    font-size: 14px;
    line-height: 16px;
  }

  .header-top__lang {
    margin: 20px 0;
  }

  .header-bottom nav {
    padding: 15px 0;
  }

  .main-body__card {
    padding: 10px;
  }

  .main-body__card .card-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0;
    width: 32px;
    height: 32px;
  }

  .main-body__card .card-icon img {
    width: 32px;
  }

  .main-body__card span {
    font-size: 16px;
    line-height: 20px;
  }

  .round-btn.aside {
    min-height: 118px;
  }

  .round-btn a {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 991px) {
  .aside-content {
    margin-top: 20px;
  }
}

@media (max-width: 956px) {
  .calendar-main {
    overflow-x: scroll;
    margin-bottom: 20px;
  }

  .calendar-main::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
    display: none !important;
    background: transparent;
  }

  .calendar-date {
    margin-right: auto;
    margin-left: unset;
  }

  .calendar-header {
    width: 1164px;
  }

  .calendar-body {
    width: 1200px;
  }

  .calendar-body ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 168px;
            flex: 0 0 168px;
  }
}

@media (max-width: 766px) {
  .slider-item__body-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider-main .slick-slide {
    margin: 0;
  }

  .product-slider__thumb-prev,
  .product-slider__thumb-next {
    width: 32px;
    height: 32px;
  }

  .product-slider__thumb-prev {
    left: -10px;
  }

  .product-slider__thumb-next {
    right: -10px;
  }
}

@media (max-width: 765px) {
  .header-bottom nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }

  .header-bottom nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header-bottom nav ul li {
    width: calc((100% - 120px) / 4);
    height: 66px;
    margin: 0 15px 20px 15px;
  }

  .header-bottom nav ul li:last-child {
    margin-right: 15px;
  }

  .header-bottom nav ul li a span {
    font-size: 14px;
    line-height: 28px;
  }

  .header-bottom nav ul li.active {
    width: 100%;
    height: 66px;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid #Cccccc;
    border-radius: 10px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .header-bottom nav ul li.active a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header-bottom nav ul li.active a .card-icon {
    display: block !important;
    margin-right: 20px;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-body__card {
    padding: 5px;
  }

  .main-body__card .card-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  .main-body__card .card-icon img {
    width: 24px;
  }

  .main-body__card span {
    font-size: 8px;
    line-height: 15px;
  }

  .round-btn a {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 760px) {
  .error-main .error-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .error-main .right-img {
    display: none;
  }
}

@media (max-width: 708px) {
  .logo {
    width: 78px;
  }

  .main-body__card .card-icon::after {
    display: none;
  }

  .education-tab .nav-link {
    font-size: 14px;
    padding: 13px 25px;
  }
}

@media (max-width: 473px) {
  .circle-count p {
    font-size: 12px;
    line-height: 12px;
  }

  .circle-count span {
    font-size: 24px;
    line-height: 24px;
  }

  .circle-count h3 {
    font-size: 18px;
    line-height: 18px;
  }

  .bar-circle svg {
    width: 270px;
    height: 270px;
  }

  .bar-circle .circle-progress-value {
    stroke-width: 5px;
  }

  .bar-circle .circle-progress-circle {
    stroke-width: 5px;
  }

  .bar-circle-body {
    width: 270px;
    height: 270px;
  }
}