@font-face {
  font-family: 'Gilroy-heavy';
  src: url("../fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-semibold';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ulight';
  src: url("../fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy-semibold-i';
  src: url("../fonts/Gilroy-SemiBoldItalic.eot");
  src: local("Gilroy SemiBold Italic"), local("Gilroy-SemiBoldItalic"), url("../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy-light';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-mi';
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy-regular';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-strongi';
  src: url("Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-regi';
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy-ulight';
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-thin';
  src: url("../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-black';
  src: url("../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

header {
  background: #EDE86B;
}

.navbar-expand-custom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 0;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
}

.navbar-toggler-icon {
  background: url("../img/menu.svg");
}

.loto-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.loto-card__body p {
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #121212;
}

.loto-card__img {
  border: 1px solid #C1C1C1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 277px;
          flex: 0 0 277px;
  width: 100%;
  padding: 20px;
  margin-bottom: 12px;
}

.loto-card__img img {
  width: 100%;
}

.aside-body {
  border: 1px solid #C1C1C1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 29px 45px;
}

.aside-body h2 {
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #121212;
  display: block;
  margin-bottom: 30px;
}

.aside-body ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-body ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  margin-bottom: 10px;
}

.aside-body ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
}

.popular a {
  text-decoration: none;
}

.popular button {
  margin: 0 auto;
}

.popular-row {
  margin-bottom: 30px;
}

.popular-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.popular-card__img {
  margin-bottom: 15px;
  overflow: hidden;
}

.popular-card__img img {
  width: 100%;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.popular-card:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.popular-card p {
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #121212;
}

.main-btn {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
  padding: 30px 63px;
  background: #EDE86B;
  border-radius: 40px;
  border: none;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
}

.main-btn:focus {
  outline: none;
  border: none;
}

.main-btn:hover {
  background: #aaa62a;
}

footer {
  background: #1B1B1B;
}

.footer-top {
  text-align: center;
  padding: 33px 15px;
  border-bottom: 1px solid #444444;
}

.footer-top span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #B9B9B9;
}

.footer-bottom {
  padding: 20px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}

table thead {
  font-family: 'Gilroy-semibold';
  background-color: rgba(237, 232, 107, 0.3);
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  text-align: center;
}

table thead tr:last-child th:first-child {
  border-top-left-radius: 5px;
}

table thead tr:last-child th:last-child {
  border-top-right-radius: 5px;
}

table tbody tr {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #121212;
  background-color: rgba(255, 253, 196, 0.3);
}

table tbody tr:nth-of-type(odd) {
  background-color: rgba(231, 228, 173, 0.3) !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: unset;
}

.table thead tr {
  border-radius: 5px 5px 0px 0px;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border: none;
}

.hero-intro {
  padding: 20px 0;
  margin-bottom: 62px;
}

.hero-intro h3 {
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #121212;
  display: block;
  margin-bottom: 20px;
}

.hero-intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  margin-bottom: 10px;
}

.hero-intro a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E76F00;
  display: block;
  text-align: center;
}

.main-table {
  margin-bottom: 50px;
}

.main-table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.main-table__header a {
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #12121231;
  text-decoration: none;
  margin-right: 30px;
}

.main-table__header a:last-child {
  margin-right: 0;
}

.main-table__header a.active {
  color: #121212;
}

.loto-link {
  margin-bottom: 50px;
}

.loto-link h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  display: block;
  margin-bottom: 15px;
}

.loto-link input {
  width: 100%;
  background: rgba(231, 228, 173, 0.3);
  border: none;
  height: 50px;
  padding: 15px;
}

.loto-link input:focus {
  outline: none;
  border: none;
}

.loto-stats {
  margin-bottom: 50px;
}

.loto-stats h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  display: block;
  margin-bottom: 15px;
}

.loto-stats span {
  font-family: 'Gilroy-light';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  display: block;
  margin-bottom: 15px;
}

.period h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  display: block;
  margin-bottom: 20px;
}

.period ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.period ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 0px;
  margin-bottom: 17px;
  white-space: nowrap;
  width: calc(100% / 10);
}

.period ul li:last-child {
  margin-right: 0;
}

.period ul li span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  opacity: 0.3;
}

.analytics {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 19px 29px 33px 29px;
}

.analytics h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  display: block;
  margin-bottom: 10px;
}

.analytics nav {
  margin-bottom: 20px;
}

.analytics nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  opacity: 0.4;
  margin-right: 24px;
}

.analytics nav a:last-child {
  margin-right: 0;
}

.analytics nav a.active {
  opacity: 1;
  text-decoration: underline;
}

.analytics .loto-style {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

.analytics .loto-style li {
  margin-right: 10px;
  margin-bottom: 20px;
}

.analytics .loto-style li:last-child {
  margin-right: 0;
}

.analytics .loto-style li a {
  padding: 15px 36px;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  background: #FAF8D3;
  border-radius: 5px;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
  text-decoration: none;
  white-space: nowrap;
}

.analytics .loto-style li a.active {
  background: #EDE86B;
}

.analytics .loto-style li a:hover {
  text-decoration: none;
  background: #EDE86B;
}

.analytics .loto-numbers {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 569px;
  width: 100%;
}

.analytics .loto-numbers li {
  width: 42px;
  height: 42px;
  background: #FAF8D3;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.analytics .loto-numbers li:last-child {
  margin-right: 0;
}

.analytics .loto-numbers li a {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.loto-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 639px;
  width: 100%;
}

.loto-filter a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background: #FAF8D3;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  height: 69px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-result__header {
  margin-bottom: 20px;
}

.table-result__header span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  margin-right: 50px;
}

.table-result__header span:last-child {
  margin-right: 0px;
}

.table-result table {
  max-width: 569px;
  width: 100%;
}

.tags-list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags-list li {
  margin-right: 15px;
  margin-bottom: 15px;
}

.tags-list li:last-child {
  margin-right: 0;
}

.tags-list li a {
  display: block;
  background: #EDE86B;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding: 15px 35px;
}

.tags-list li a:hover {
  color: #000000;
  text-decoration: none;
}

.blog-row .popular-card {
  margin-bottom: 50px;
}

.blog-row .popular-card:hover {
  text-decoration: none;
}

.page-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 0;
}

.page-item:hover {
  background-color: transparent;
}

.page-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #121212;
  border: none;
}

.page-link:hover {
  background-color: transparent;
}

.page-link.active {
  color: #EDE86B;
}

.pagination-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-prev,
.pagination-next {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #121212;
  width: 322px;
  height: 83px;
  background: #FFFFFF;
  border-radius: 40px;
  border: 2px solid #EDE86B;
  -webkit-transition: linear .3s;
  -o-transition: linear .3s;
  transition: linear .3s;
  margin: 0 15px;
}

.pagination-prev:hover,
.pagination-next:hover {
  background: #EDE86B;
  border: 2px solid transparent;
}

article {
  margin-bottom: 70px;
}

article .article-intro__img {
  margin-bottom: 30px;
}

article .article-intro__img img {
  width: 100%;
}

article .article-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article .article-header h2 {
  font-family: 'Gilroy-semibold';
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
  display: block;
}

article .article-header span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  opacity: 0.3;
}

article p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  margin-bottom: 20px;
}

article h3 {
  font-family: 'Gilroy-semibold';
  font-size: 24px;
  line-height: 29px;
  color: #121212;
}

article figure img {
  width: 100%;
  margin-bottom: 24px;
}

article figure p {
  font-family: 'Gilroy-mi';
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  text-align: center;
}

article figure i {
  font-family: 'Gilroy-mi';
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
}

.comments-main {
  margin-bottom: 50px;
}

.comments-main h2 {
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #121212;
}

.comments-main .comments-block {
  padding: 22px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-bottom: 15px;
}

.comments-main .comments-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments-main .comments-block__header h2 {
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
}

.comments-main .comments-block__header span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #8C8C8C;
}

.comments-main .comments-block.answer {
  max-width: calc(100% - 60px);
  margin-left: 60px;
}

.comments-main p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
}

.comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

.comments-form p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
  margin-bottom: 20px;
}

.comments-form p span {
  color: #EDE86B;
}

.comments-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.comments-form label p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
}

.comments-form label textarea {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  max-width: 573px;
  width: 100%;
  resize: none;
  padding: 5px;
  height: 233px;
}

.comments-form label input {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  max-width: 573px;
  width: 100%;
  height: 66px;
  padding: 10px;
}

.comments-form button {
  width: 322px;
}

body {
  font-family: 'Gilroy';
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.lock {
  overflow-y: hidden;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

html {
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 48px 0 100px 0;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1790px;
}

.main-title {
  font-family: 'Gilroy-semibold';
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
  display: block;
  margin-bottom: 30px;
}

.main-title span {
  font-size: 20px;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumb ol {
  padding: 0;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: ">";
}

.breadcrumb .breadcrumb-item {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #121212;
}

.breadcrumb .breadcrumb-item a {
  color: #121212;
}

.error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-page img {
  margin-bottom: 50px;
}

.error-page h2 {
  font-family: 'Gilroy-semibold';
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
  display: block;
  margin-bottom: 50px;
}

@media (min-width: 1350px) {
  .col-xxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xxl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xxl-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xxl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xxl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xxl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xxl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-xxl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xxl-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xxl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .d-xxl-none {
    display: none !important;
  }

  .d-xxl-inline {
    display: inline !important;
  }
}

@media (min-width: 1448px) {
  .navbar-expand-custom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none !important;
  }
}

@media (max-width: 1448px) {
  .navbar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 832px) {
  .error-page img {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .aside-body {
    padding: 15px;
  }

  .aside-body ul li a {
    font-size: 14px;
  }

  .main-btn {
    padding: 30px;
  }

  .loto-filter a {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  article .article-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  article .article-header h2 {
    font-size: 27px;
    line-height: 36px;
  }

  .comments-main h2 {
    font-size: 27px;
    line-height: 36px;
  }

  .comments-form button {
    width: 100%;
    padding: 20px;
  }

  .main-title {
    font-size: 27px;
    line-height: 35px;
  }

  .breadcrumb .breadcrumb-item {
    font-size: 12px;
  }

  .error-page h2 {
    font-size: 27px;
    line-height: 35px;
  }
}

@media (max-width: 739px) {
  .period ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .period ul li {
    width: auto;
    padding: 10px;
  }
}

@media (max-width: 690px) {
  .main-table__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-table__header a {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .popular-card p {
    font-size: 16px;
  }

  .tags-list li a {
    font-size: 13px;
    padding: 9px 18px;
  }

  .blog-row .popular-card {
    margin-bottom: 20px;
  }

  .pagination-prev,
  .pagination-next {
    font-size: 9px;
    line-height: 20px;
    text-align: center;
    color: #121212;
    width: 139px;
    height: 45px;
  }
}