//<ШРИФТЫ>===============================================================================================
@font-face {
  font-family: "Museo Sans Cyrl-300";
  src: url("../fonts/MuseoSansCyrl-300.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl -500";
  src: url("../fonts/MuseoSansCyrl-500.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl -700";
  src: url("../fonts/MuseoSansCyrl-700.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl -900";
  src: url("../fonts/MuseoSansCyrl-900.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl -100";
  src: url("../fonts/MuseoSansCyrl-100.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro - Semibold";
  src: url("../fonts/sourcesansprosemibold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/sourcesanspro.ttf");
  font-weight: normal;
  font-style: normal;
}
//<Подключаем шрифты>=======================================================================================
//</Подключаем шрифты>=======================================================================================
//<Иконочные шрифты>==========================================================================================
//</Иконочные шрифты>==========================================================================================
//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Museo Sans Cyrl-300";
//</Шрифт по умолчанию>==========================================================================================
//</ШРИФТЫ>=======================================================================================================
//<ПЕРЕМЕННЫЕ>===========================================================================================================
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
  color: #000;
  font-size: 14px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  &.lock {
    overflow: hidden;
  }
}
html,
body {
  height: 100%;
}

main {
  flex: 1 0 auto;
  margin-bottom: 51px;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  &.loaded {
  }
}

.container {
  max-width: 1170px;
}
//</ОБОЛОЧКА>===========================================================================================================
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
header {
  margin-bottom: 15px;
}
footer {
  background-color: #3a4049;
}
.main-title {
  color: #333333;
  font-family: "Museo Sans Cyrl -500";
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  display: block;
  padding-left: 15px;
  @media (max-width: 575px) {
    font-size: 26px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

// burger-menu

.burger-menu {
  display: none;
  @media (max-width: 683px) {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    position: relative;
    z-index: 6;
  }
  &.active span {
    background: transparent;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
  & span {
    width: 20px;
    height: 4px;
    background: #ffffff;
    display: block;
    position: relative;
    transition: linear 0.5s;
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 4px;
      background: #ffffff;
      display: block;
      transition: linear 0.5s;
    }
    &::before {
      top: 9px;
    }
    &::after {
      bottom: 9px;
    }
  }
}
// burger-menu
// header-top=======================================================
.main-menu {
  transition: linear 0.6s;
  @media (max-width: 683px) {
    position: absolute;
    opacity: 1;
    top: -1000px;
  }
  @media (max-width: 683px) {
    &.active {
      opacity: 1;
      top: 0;
    }
  }
}
.more {
  position: relative;
  &::after {
    top: 7px;
    right: -17px;
    position: absolute;
    content: "";
    background: url("../img/burgersm.png");
    width: 10px;
    height: 7px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header-top {
  background-color: #3a4049;
  padding: 18px 0;
  position: relative;
  &__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    @media (max-width: 683px) {
      justify-content: initial;
      flex-direction: column;
      width: 100%;
      position: absolute;
      left: 0;
      height: 100vh;
      background: #333333;
      z-index: 4;
      padding-top: 20%;
    }
  }

  &__item {
    @media (max-width: 683px) {
      margin-bottom: 30px;
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: #cccccc;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    transition: linear 0.5s;
    &:hover {
      color: #928f8f;
    }
  }

  &__user {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 750px) {
      justify-content: initial;
    }
    @media (max-width: 683px) {
      max-width: 250px;
    }
    & a {
      margin-left: 18px;
      margin-right: 10px;
      @media (max-width: 990px) {
        margin-right: 20px;
      }
      @media (max-width: 750px) {
        margin-right: 35px;
        margin-left: 50px;
      }
      &:last-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

// header-top=======================================================
// header-mid========================================================
.form-control {
  position: relative;
}
.btn-search {
  position: absolute;
  top: 35%;
  right: 8%;
  transform: translate(-35%, -8%);
  @media (max-width: 992px) {
    top: 35%;
    right: 6%;
    transform: translate(-35%, -6%);
  }
}
.header-mid {
  padding: 17px 0;
  &__contacts {
    @media (max-width: 991px) {
      margin-left: auto;
    }
    @media (max-width: 760px) {
      padding-right: 15px;
      padding-left: 0;
    }
    @media (max-width: 740px) {
      flex: 0 0 247px;
      max-width: 100%;
    }
    @media (max-width: 683px) {
      margin: 0 auto;
    }
  }
  &__input {
    @media (max-width: 991px) {
      margin-top: 30px;
      order: 2;
    }
    & input {
      width: 96%;
      padding: 1.375rem 0.75rem;
      border: 1px solid #d94012;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
  &__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & a:first-child {
      color: #333333;
      font-family: "Museo Sans Cyrl -500";
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      @media (max-width: 1184px) {
        font-size: 17px;
      }
      @media (max-width: 450px) {
        margin: 0 auto;
      }
      img {
        vertical-align: middle;
        margin-right: 2px;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      justify-content: center;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      display: none;
    }
  }
}

.header-logo {
  @media (max-width: 450px) {
    display: none;
  }
  @media (max-width: 683px) {
    display: none;
  }
}

.icons-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 450px) {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  & a {
    color: #333333;
    font-family: "Museo Sans Cyrl -300";
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
  }
  img {
    display: block;
    margin-bottom: 8px;
  }
}

.header-icon {
  margin-right: 11px;
  &:last-child {
    margin-right: 0;
  }
}
// header-mid========================================================
// .breadcrumb ==================================================
.intro {
  margin-bottom: 20px;
}
.breadcrumb {
  background: transparent;
  padding: 0.55rem 1rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  background: url(../img/crumb.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  padding-right: 0;
  width: 4px;
  height: 4px;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 8px;
}
.breadcrumb-item {
  &.active a {
    color: #aaaaaa;
  }
  & a {
    color: #333333;
    font-family: "Museo Sans Cyrl-300";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}
.active {
}
// .breadcrumb ==================================================
.about {
  &__title {
    color: #000000;
    font-family: "Museo Sans Cyrl -700";
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin-bottom: 8px;
    @media (max-width: 452px) {
      font-size: 18px;
    }
    & span {
      color: #ae3127;
    }
  }

  &__subtitle {
    opacity: 0.7;
    color: #000000;
    font-family: "Museo Sans Cyrl-300";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 40px;
    @media (max-width: 450px) {
      font-size: 15px;
    }
  }

  &__counts {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      padding: 0px 10px;
    }
    @media (max-width: 450px) {
      justify-content: space-between;
      padding: 0 15px;
    }
  }

  &__col {
    flex: 0 0 21%;
    @media (max-width: 768px) {
      flex: 0 0 24%;
    }
    @media (max-width: 450px) {
      flex: 0 0 calc((100% - 30px) / 2);
      width: calc((100% - 30px) / 2);
    }
  }

  &__numbers {
    background-image: linear-gradient(
      to top,
      #ae3127 0%,
      #ae3127 50%,
      #fd4d01 100%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Museo Sans Cyrl -900";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }

  &__text {
    opacity: 0.8;
    color: #333333;
    font-family: "Museo Sans Cyrl-300";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    @media (max-width: 768px) {
      font-size: 15px;
    }
  }
}

// cards=====================================================================
.cards {
  padding-top: 40px;
  justify-content: space-around;
  &__card {
    flex: 0 0 47%;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #242f3a;
    background-image: linear-gradient(
      to right,
      #242f3a 0%,
      rgba(244, 244, 244, 0.4) 100%
    );
    @media (max-width: 450px) {
      flex: 0 0 90%;
    }
    &:nth-child(2) {
      box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      background-color: #242f3a;
      background-image: linear-gradient(
        to right,
        #2b2b2b 0%,
        rgba(244, 244, 244, 0.4) 100%
      );
      position: relative;
      &::before {
        position: absolute;
        top: 40%;
        right: 20%;
        content: "%";
        width: 248px;
        height: 200px;
        opacity: 0.03;
        color: #ffffff;
        font-family: "Source Sans Pro - Black";
        font-size: 299px;
        font-weight: 400;
        line-height: 14.94px;
      }
    }
    &:nth-child(3) {
      box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      background-color: #242f3a;
      background-image: linear-gradient(
        to right,
        #103544 0%,
        rgba(244, 244, 244, 0.4) 100%
      );
    }
    &:nth-child(4) {
      box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      background-color: #242f3a;
      background-image: linear-gradient(
        to right,
        #35311b 0%,
        rgba(244, 244, 244, 0.4) 100%
      );
    }
  }

  &__descrip {
    flex: 0 0 60%;
    @media (max-width: 768px) {
      flex: 0 0 100%;
      text-align: center;
    }
  }

  &__title {
    color: #ffffff;
    font-family: "Museo Sans Cyrl -700";
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 23px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Source Sans Pro - Semibold";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__text {
    opacity: 0.6;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
  }

  &__img {
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
}

// cards=====================================================================
// footer=================================================================
.footer {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 450px) {
      margin-bottom: 27px;
    }
  }

  &__logo {
    & img {
      @media (max-width: 768px) {
        width: 156px;
      }
      @media (max-width: 992px) {
        width: 156px;
      }
    }
  }

  &__phone {
    color: #ffffff;
    font-family: "Museo Sans Cyrl -500";
    font-size: 22px;
    font-weight: 400;
    line-height: 55px;
    transition: linear 0.5s;
    @media (max-width: 768px) {
      font-size: 15px;
    }
    @media (max-width: 992px) {
      font-size: 15px;
    }
    &:hover {
      color: #928f8f;
    }
    & img {
      vertical-align: middle;
      margin-bottom: 3px;
      margin-right: 10px;
      @media (max-width: 768px) {
        margin-right: 2px;
      }
      @media (max-width: 992px) {
        margin-right: 2px;
      }
    }
  }

  &__social {
    & a {
      margin-right: 13px;
      @media (max-width: 768px) {
        width: 19px;
      }
      @media (max-width: 992px) {
        width: 19px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__menu {
    @media (max-width: 450px) {
      text-align: center;
      width: 240px;
      margin: 0 auto;
    }
  }

  &__title {
    color: #fefefe;
    font-family: "Museo Sans Cyrl-300";
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    cursor: default;
    margin-bottom: 20px;
    display: block;
    @media (max-width: 450px) {
      color: #cfcfcf;
      font-family: "Museo Sans Cyrl -100";
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      border-bottom: 1px solid #b0afb3;
      text-align: left;
      position: relative;
      cursor: pointer;
      &.active::after {
        transform: rotate(180deg);
      }
      &:after {
        content: "";
        background: url("../img/next.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        transition: linear 0.5s;
      }
    }
    &:hover {
      color: #fefefe;
    }
  }
  &__list {
    display: block;
    @media (max-width: 450px) {
      display: none;
    }
  }

  &__item {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: #b0afb3;
    font-family: "Museo Sans Cyrl -100";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    transition: linear 0.5s;
    &:hover {
      color: #928f8f;
    }
  }
  &__bottom {
    padding: 14px 0;
    background-color: #2e343c;
    p {
      margin: 0;
      text-align: center;
      height: 12px;
      color: #cccccc;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      font-family: "Museo Sans Cyrl -500";
    }
  }
}
// footer=================================================================

// return ==================================================================
.return {
  padding-top: 30px;
}
.return-phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 11px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 50px 30px 40px 30px;
  position: relative;
  top: -10px;
  @media (max-width: 575px) {
    top: 30px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    padding: 50px 15px 40px 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
  &__title {
    color: #000000;
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 33px;
    @media (max-width: 575px) {
      line-height: 24px;
    }
  }
  & a {
    color: #4270b1;
    text-decoration: underline;
    font-family: "Museo Sans Cyrl -700";
  }
}
.return-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 50px 30px 10px 30px;
  @media (max-width: 575px) {
    padding: 50px 15px 10px 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 575px) {
      margin-bottom: 28px;
    }
  }
  &__img {
    flex: 0 0 146px;
  }
  &__title {
    color: #000000;
    font-family: "Museo Sans Cyrl -700";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 11px;
    text-align: center;
  }

  &__text {
    color: #000000;
    font-family: "Museo Sans Cyrl -300";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
}

// return ==================================================================
// delivery=========================================================

.order-body {
  margin-top: 17px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 24px 40px;
  margin-bottom: 76px;
  @media (max-width: 452px) {
    padding: 24px 10px;
    text-align: center;
  }
  &__col {
    text-align: center;
  }

  &__img {
    flex: 0 0 127px;
    margin-bottom: 23px;
  }

  &__title {
    color: #36321c;
    font-family: "Museo Sans Cyrl -700";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 11px;
  }

  &__text {
    color: #36321c;
    font-family: "Museo Sans Cyrl-300";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
  }

  &__link {
    margin-top: 11px;
    color: #4074bb;
    font-family: "Museo Sans Cyrl -700";
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}

.order-body {
  &__main {
    color: #36321c;
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 17px;
  }
  &__payment {
    display: flex;
    flex-direction: column;
  }
}
.payment {
  padding-top: 35px;
  padding-bottom: 4px;
}
.payment-img {
  height: 55px;
  flex: 0 0 110px;
  margin-bottom: 11px;
  text-align: center;
}
.payment-title {
  color: #000000;
  font-family: "Museo Sans Cyrl -500";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 6px;
  text-align: center;
  margin: 0 auto;
}
.payment-text {
  opacity: 0.5;
  color: #000000;
  font-family: "Museo Sans Cyrl-300";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.payment-footer {
  opacity: 0.7;
  color: #36321c;
  font-family: "Museo Sans Cyrl -500";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  font-style: italic;
}

.order-body__subtitle {
  max-width: 587px;
  opacity: 0.7;
  color: #000000;
  font-family: "Museo Sans Cyrl-300";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  text-align: center;
  margin: 0 auto;
  & span {
    color: #4374b5;
  }
}
.delivery {
  padding-top: 48px;
}

.delivery-title {
  color: #000000;
  font-family: "Museo Sans Cyrl -700";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.delivery-text {
  color: #a3a3a3;
  font-family: "Museo Sans Cyrl-300";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  & b {
    color: #000000;
    font-family: "Museo Sans Cyrl -700";
  }
}

.map {
  &-body {
    cursor: pointer;
    transition: linear 0.5s;
    &.active {
      opacity: 0.5;
    }
    &:hover {
      opacity: 0.5;
    }
  }

  &__img {
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    color: #000000;
    font-family: "Museo Sans Cyrl -700";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 17px;
  }

  &__text {
    color: #a3a3a3;
    font-family: "Museo Sans Cyrl -300";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
  }
}
.map__link {
  font-family: "Museo Sans Cyrl-300";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #4270b1;
  text-decoration: underline;
}
.google-map {
  top: -78px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  & img {
    width: 100%;
  }
}
// delivery=========================================================

// form==========================================
.sppliers-title {
  color: #000000;
  font-family: "Museo Sans Cyrl -500";
  font-size: 18px;
  line-height: 18px;
}
.sppliers-item {
  margin-bottom: 50px;
  &__img {
    flex: 0 0 71px;
    margin-bottom: 20px;
  }

  &__text {
    color: #000000;
    font-family: "Museo Sans Cyrl -500";
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }
}

.form-title {
  color: #000000;
  font-family: "Museo Sans Cyrl -700";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 16px;
}

.form-group input {
  background-color: #fafafa;
  height: calc(1.5em + 13px + 2px);
  &::placeholder {
    font-size: 13px;
  }
}
.custom-control-label::before {
  width: 20px;
  height: 20px;
  left: -0.5rem;
}
.custom-control-label::after {
  left: -0.5rem;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #a3a3a3;
  background-color: transparent;
}

.custom-control-input:checked ~ .custom-control-label::after {
  background: url(../img/checked1.png) no-repeat;
  background-position: center;
  padding: 10px;
}
.form-group label {
  color: #000000;
  font-family: "Museo Sans Cyrl-300";
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
  & span {
    font-size: 18px;
    color: #c62c24;
  }
  @media (max-width: 450px) {
    float: left;
  }
}

.check-box label {
  color: #000000;
  font-family: "Museo Sans Cyrl -500";
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 5px;
  padding-left: 21px;
}
.check-box .form-check {
  float: left;
}

.input-group-text {
  background: linear-gradient(0deg, #bb272b 0%, #ff4b00 100%);
  font-family: "MuseoSansCyrl";
  font-size: 35px;
  line-height: 20px;
  font-weight: 100;
  color: #fafafa;
  cursor: pointer;
}
.btn-submit {
  align-self: flex-end;
  margin-bottom: 1.5rem !important;
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #bb272b 0%, #ff4b00 100%);
  border-radius: 3px;
  font-family: "MuseoSansCyrl";
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
}

.file {
  & .form-group label {
    line-height: 20px;
    @media (max-width: 450px) {
      float: left;
      text-align: initial;
    }
  }
}

.terms {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 5px;
}
.conditions,
.acepts {
  &.active h2::after {
    transform: rotate(180deg);
  }
}
.conditions h2,
.acepts h2 {
  font-family: "Museo Sans Cyrl -700";
  font-size: 25px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  @media (max-width: 450px) {
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    border-bottom: 1px solid #b0afb3;
    position: relative;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px;
    cursor: pointer;
    &:after {
      content: "";
      background: url("../img/next.png");
      background-position: center;
      background-repeat: no-repeat;
      width: 12px;
      height: 7px;
      display: block;
      position: absolute;
      top: 5px;
      right: 15px;
      transition: linear 0.5s;
    }
  }
}
.conditions-list {
  &__item {
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.25rem;
  }
  & b {
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
  }
  &__text {
    font-family: "Museo Sans Cyrl-300";
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: #000000;
  }
}

.acepts-list {
  &__item {
    font-family: "Museo Sans Cyrl -500";
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.25rem;
  }
  & b {
    font-family: "Museo Sans Cyrl -500";
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
  }
  &__text {
    font-family: "Museo Sans Cyrl-300";
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: #000000;
  }
}
.check {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    background: url("../img/checked.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 11px;
    height: 8px;
    display: inline-block;
    margin-right: 3px;
  }
}
.acept-row,
.terms-row {
  @media (max-width: 450px) {
    display: none;
  }
}

.form-wrapp {
  display: none;
}
.form-wrapp.show {
  display: block;
}

.btn-map{
  img{
    width: 100%;
  }
}
// manufact ==========================================================================================================================


.manufact {
  justify-content: space-between;
		&__intro-text {
      color: #36321c;
      font-family: "Museo Sans Cyrl-300";
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      padding-top: 32px;
      @media (max-width:720px) {
        padding-top: 0;
     }
      span{
        font-family: "Museo Sans Cyrl -500";
      }
		}

		&__intro-contacts {
      max-width: 652px;
      box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      background-color: #ffffff;
      padding: 40px 29px 40px 32px;
      margin-left: auto;
      @media (max-width:992px) {
        margin: 32px auto;
      }
      @media (max-width:720px) {
        padding: 10px 32px;
     }

		}

		&__intro-contacts-title {
      color: #000000;
      font-family: "Museo Sans Cyrl -700";
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 30px;
      @media (max-width:720px) {
        text-align: center;
        font-size: 16px;
     }
		}

		&__intro-contacts-row {
      display: flex;
      justify-content: space-between;
      @media (max-width:720px) {
        flex-direction: column;
     }
		}

		&__intro-contacts-col {
      width: calc((100% - 64px) / 3);
      display: flex;
      flex-direction: column;
      @media (max-width:720px) {
        width: 100%;
     }
      span{
        color: #000000;
        font-family: "Museo Sans Cyrl-300";
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        opacity: 0.7;
        margin-bottom: 9px;
        flex: 1 0 auto;
      }
      p{
        color: #000000;
        font-family: "Museo Sans Cyrl -500";
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
        flex: 0 0 auto;
      }
		}
}

.manufact-plus {
  padding-top: 31px;
		&__title {
      color: #000000;
      font-family: "Museo Sans Cyrl -500";
      font-size: 25px;
      font-weight: 400;
      line-height: 25px;
      @media (max-width:720px) {
        font-size: 18px;
     }
		}

		&__subtitle {
      opacity: 0.7;
      color: #36321c;
      font-family: "Museo Sans Cyrl-300";
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
      position: relative;
      margin-bottom: 37px;
      &::after{
        content: '';
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 50px;
        height: 2px;
        background-color: #a42d2c;
        background-image: linear-gradient(to top, #ae3127 0%, #ae3127 50%, #fd4d01 100%);
      }
      @media (max-width:720px) {
        font-size: 13px;
     }
		}

		&__body {
      box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0px 0px 20px 0px;
      @media (max-width:992px) {
        padding: 0 10px 20px 10px;
        justify-content: space-between;
      }
      @media (max-width:720px) {
        flex-direction: column;
     }
		}

		&__card {
      width: calc((100% - 196px) / 2);
      margin: 40px 0 0 0;
      @media (max-width:992px) {
        width: calc((100% - 96px) / 2);
      }
      @media (max-width:720px) {
        width: 100%;
     }
		}

		&__card-title {
      display: flex;
      align-items: center;
      border-top: 2px solid #a42d2c;
      margin-bottom: 19px;
      @media (max-width:720px) {
        align-items: flex-start;
     }
		}

		&__card-img {
      width: 60px;
      height: 60px;
      background-color: #a42d2c;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 0 0 60px;
		}

		&__card-name {
      color: #36321c;
      font-family: "Museo Sans Cyrl -500";
      font-size: 15px;
      font-weight: 500;
      line-height: 15px;
      margin-left: 20px;
      @media (max-width:720px) {
        padding-top: 10px;
     }
		}

		&__card-footer {
      color: #36321c;
      font-family: "Museo Sans Cyrl-300";
      font-size: 13px;
      font-weight: 300;
      line-height: 20px;
		}
}

.manufact-target {

		&__title {
      color: #000000;
      font-family: "Museo Sans Cyrl -500";
      font-size: 25px;
      font-weight: 400;
      line-height: 22px;
      display: block;
      text-align: center;
      margin: 0 auto;
      position: relative;
      padding-top: 50px;
      margin-bottom: 150px;
      @media (max-width:720px) {
        text-align: left;
        font-size: 18px;
        margin-bottom: 36px;
     }
      &::after{
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 2px;
        background-color: #a42d2c;
        background-image: linear-gradient(to top, #ae3127 0%, #ae3127 50%, #fd4d01 100%);
        @media (max-width:720px) {
          left: 0;
          transform: translateX(0);
       }
      }
		}

		&__elipse {
      position: relative;
      z-index: 1;
      margin-bottom: 50px;
      &:before{
        content: '';
        width: 690px;
        height: 70px;
        background:#f4f4f4;
        -webkit-box-shadow: -4px 19px 8px 40px rgba(244,244,244,0.75); 
        box-shadow: -4px 19px 8px 40px rgba(244,244,244,0.75);
        z-index: 2;
        position: absolute;
        top:-15%;
        left: 50%;
        transform: translate(-50%, -30%);
        @media (max-width:992px) {
          top: -19%;
        }
        @media (max-width:720px) {
          display: none;
       }
      }
		}

		&__elipse-logo {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      @media (max-width:720px) {
        display: none;
     }
		}

		&__decor {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50% , -50%);
      z-index: 1;
      @media (max-width:992px) {
       img {
        width: 420px;
       }
     }
     @media (max-width:720px) {
      display: none;
   }
		}
    &-top,&-bottom,&-mid{
      display: flex;
      max-width: 1087px;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      @media (max-width:720px) {
        flex-direction: column;
     }
    }
    &-top{
      position: relative;
      top: 70px;
      margin-bottom: 64px;
      @media (max-width:720px) {
        top: 0px;
        margin-bottom: 0px;
     }
    }
    &-bottom{
      max-width: 1042px;
      margin-bottom: 70px;
      position: relative;
      top: 28px;
      @media (max-width:720px) {
        top: 0px;
        margin-bottom: 0px;
     }
      .manufact-target__card {
        width: calc((100% - 314px)/2);
        @media (max-width:992px) {
          width: calc((100% - 195px)/2);
        }
        @media (max-width:720px) {
          width: 100%;
       }
      }
    }
    &-mid{
      margin-bottom: 97px;
      max-width: 949px;
      position: relative;
      top: 66px;
      @media (max-width:720px) {
        top: 0px;
        margin-bottom: 0px;
     }
      .manufact-target__card {
        width: calc((100% - 423px)/2);
        @media (max-width:992px) {
          width: calc((100% - 345px)/2);
      }
      @media (max-width:720px) {
        width: 100%;
     }
     }
    }


		&__card {
      width: calc((100% - 400px)/2);
      display: flex;
      align-items: center;
      position: relative;
      z-index: 3;
      @media (max-width:992px) {
        width:  calc((100% - 325px)/2);
      }
      @media (max-width:720px) {
        width: 100%;
        margin-bottom: 20px;
     }
     .manufact-target__img{
      @media (max-width:720px) {
        order: -1;
     }
    }
      &:last-child{
        .manufact-target__img{
          order: -1;
        }
      }
		}

		&__text {
        color: #000000;
        font-family: "Museo Sans Cyrl -500";
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        margin: 0 13px;
        @media (max-width:992px) {
           font-size: 14px;
           margin: 0 4px;
        }
		}

		&__img {
      width: 65px;
      height: 65px;
      box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      flex: 0 0 65px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width:992px) {
        width: 55px;
        height: 55px;
        flex: 0 0 55px;
        img{
          width: 50%;
        }
      }
      @media (max-width:720px) {
        margin-right: 20px;
     }
		}
}


// manufact ==========================================================================================================================


// retail =================================================================================================================


.retail {
		&__intro-text {
      padding: 10px 0;
      color: #36321c;
      font-family: "Museo Sans Cyrl-300";
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
		}

		&__intro-deliver {
      margin-left: auto;
      max-width: 652px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      background-color: #ffffff;
      padding: 10px 30px;
      @media (max-width:992px) {
        margin: 0 auto;
      }
      @media (max-width:720px) {
        flex-direction: column;
        align-items: center;
        padding: 10px 14px;
     }
		}

		&__intro-deliver-img {
      flex: 0 0 176px;
      img{
        width: 100%;
      }
		}

		&__intro-deliver-text {
      margin-left: 41px;
      max-width: 347px;
      @media (max-width:720px) {
        margin: 0;
        width: 100%;
        order: -1;
     }
		}

		&__intro-deliver-title {
      color: #000000;
      font-family: "Museo Sans Cyrl -700";
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      @media (max-width:720px) {
       text-align: center;
     }
		}

		&__intro-deliver-article {

      opacity: 0.5;
      color: #000000;
      font-family: "Museo Sans Cyrl-300";
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      @media (max-width:720px) {
        text-align: center;
      }
		}
}

.retail-title {
    margin-top: 50px;
    color: #000000;
    font-family: "Museo Sans Cyrl -500";
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    display: inline-block;
    flex: 1 0 auto;
    span{
      display: block;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      font-family: "Museo Sans Cyrl -100";
    }
    &::after{
      content: '';
      display: block;
      margin-top: 15px;
      width: 50px;
      height: 2px;
      background-color: #a42d2c;
      background-image: linear-gradient(to top, #ae3127 0%, #ae3127 50%, #fd4d01 100%);
    }
}
.retail-subtitle {
  color: #000000;
  font-family: "Museo Sans Cyrl-300";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}



.retail-cards {

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    border-radius: 5px;
    position: relative;
    margin: 15px;
    max-width: 555px;
    width: 100%;
    display: flex;
    @media (max-width:1187px) {
      max-width: 335px;
    }
  }


  &__item-decor{
    position: absolute;
    top: 18px;
    right: 32px;
    @media (max-width:1187px) {
      top:36px;
    }
    @media (max-width:720px) {
      right:5px;
      img{
        width: 123px;
      }
   }
  }
  &__inner {
    margin: 36px 0 20px 39px;
    @media (max-width:1187px) {
      width: 156px;
      padding: 0;
      margin: 14px 0px 20px 30px;
    }
  }

  &__title {
    background: linear-gradient(to top, #ae3127 0%, #ae3127 50%, #fd4d01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -900";
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    display: block;
  }

  &__subtitle {
      color: #ffffff;
      font-family: "Museo Sans Cyrl-300";
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
  }
}
.dark {
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
    background-color: #242f3a;
    background-image: linear-gradient(to right, #242f3a 0%, rgba(36, 47, 58, 0.76) 40%, rgba(244, 244, 244, 0.4) 100%);
}

.grey{
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
    background-color: #242f3a;
    background-image: linear-gradient(to right, #2b2b2b 0%, rgba(43, 43, 43, 0.82) 30%, rgba(244, 244, 244, 0.4) 100%);
}

.blue{

    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
    background-color: #242f3a;
    background-image: linear-gradient(to right, #103544 0%, rgba(16, 53, 68, 0.82) 30%, rgba(244, 244, 244, 0.4) 100%);
}

.red{
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
    background-color: #242f3a;
    background-image: linear-gradient(to right, #35311b 0%, rgba(53, 49, 27, 0.82) 30%, rgba(244, 244, 244, 0.4) 100%);
}

.gold{

    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.15);
    background-color: #242f3a;
    background-image: linear-gradient(to right, #5a4e26 0%, rgba(90, 78, 38, 0.82) 30%, rgba(244, 244, 244, 0.4) 100%);
}


// retail =================================================================================================================


// wholesale ===============================================================================================

.wholesale-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 31px;

  &__intro {
    color: #000000;
    font-family: "Museo Sans Cyrl-300";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 48px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 46px;
    @media (max-width:992px) {
      justify-content: space-around;
      margin-bottom: 0;
    }
  }

  &__item {
    width: calc((100% - 50px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:992px) {
      width: calc((100% - 126px) / 2);
      margin-bottom: 42px;
    }
    @media (max-width:720px) {
      width: 100%;
    }
  }

  &__img {
    width: 72px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin-bottom: 20px;
  }

  &__hero {
    flex: 1 0 auto;
    color: #000000;
    font-family: "Museo Sans Cyrl -500";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }

  &__footer {
    color: #000000;
    font-family: "Museo Sans Cyrl-300";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 46px;
  }

  &__btn {
      width: 200px;
      height: 40px;
      border-radius: 3px;
      color: #ffffff;
      font-family: "Museo Sans Cyrl-300";
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      background-image: linear-gradient(to top, #bb272b 0%, #ff4b00 100%);
      text-align: center;
      align-self: center;
  }
}


// wholesale ===============================================================================================

// contact =============================================================

.contacts-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-item {
    flex: 1 0 auto;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px 20px;
		&__map {
      color: #000000;
      font-family: "Museo Sans Cyrl -500";
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #000000;
      margin-top: 15px;
      margin-bottom: 20px;
      @media (max-width:720px) {
        margin-left: 30px;
      }
      img{
        vertical-align: middle;
        margin-right: 5px;
      }
		}
    &__inner{
      display: flex;
      @media (max-width:1173px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media (max-width:720px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
		&__col {
      display: flex;
      flex-direction: column;
      width: calc((100% - 50px)/2);
      @media (max-width:1173px) {
        width: calc((100% - 10px)/2);
      }
      @media (max-width:720px) {
        width: 75%;
        margin-bottom: 15px;
      }
      span{
        opacity: 0.7;
        color: #000000;
        font-family: "Museo Sans Cyrl-300";
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        flex: 0 0 auto;
      }
      p{
        color: #000000;
        font-family: "Museo Sans Cyrl -500";
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 5px;
        flex: 1 0 auto;
      }
		}
}

.center-title{
  .retail-title{
    &::after{
      margin: 0 auto;
    }
  }
}


.contact-form {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  @media (max-width:720px) {
    flex-direction: column;
  }
		&__inputs {
      input{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        background: #ffffff;
        display: block;
        color: #000000;
        font-family: "Museo Sans Cyrl-300";
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 19px;
        padding: 12px 10px;
        @media (max-width:992px) {
          width: 100%;
        }
        &::placeholder{
          opacity: 0.5;
          color: #000000;
          font-family: "Museo Sans Cyrl-300";
          font-size: 13px;
          font-weight: 400;
          line-height: 30px;
        }
      }
		}

		&__textarea {
      
      textarea{
        width: 360px;
        height: 158px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        background-color: #ffffff;
        display: block;
        resize: none;
        padding: 14px 0 0 10px;
        @media (max-width:992px) {
          width: 100%;
        }
        @media (max-width:720px) {
          margin-bottom: 15px;
        }
        &::placeholder{
          opacity: 0.5;
          color: #000000;
          font-family: "Museo Sans Cyrl-300";
          font-size: 13px;
        }
    }
		}

		&__submit {
      display: block;
      width: 200px;
      height: 40px;
      border-radius: 3px;
      background-color: #ffffff;
      background-image: linear-gradient(to top, #bb272b 0%, #ff4b00 100%);
      text-align: center;
      color: #ffffff;
      font-family: "Museo Sans Cyrl-300";
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      margin: 0 auto;
		}
}
.col-rel{
  @media (max-width:992px) {
    position: relative;
    bottom: -25px;
    left: 25px;
  }
  @media (max-width:720px) {
    position: relative;
    bottom: 0;
    left: 0;
  }
}
.col-contact{
  display: flex;
  flex-direction: column;
}


.contacts{
  .retail-title{
    @media (max-width:720px) {
      font-size: 18px;
    }
  }
}
// contact =============================================================