.car-list {
  padding: 24px 0;
}

.car-list h2 {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
  color: #333333;
  display: block;
  margin-bottom: 40px;
}

@media (max-width: 740px) {
  .car-list h2 {
    font-size: 25px;
  }
}

.search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-header span {
  opacity: 0.5;
  font-family: 'Museo Sans Cyrl 300';
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}

.search-header-sort {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-header-sort h6 {
  opacity: 0.7;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  margin-right: 20px;
}

.search-header-sort a {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  margin-right: 20px;
  -webkit-transition: linear .3s;
  transition: linear .3s;
}

.search-header-sort a:hover {
  text-decoration: underline;
  color: #0579b7;
}

.search-header-sort a:last-child {
  margin-right: 0;
}

.search-header-sort a.active {
  font-family: 'Museo Sans Cyrl 500';
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.car-list-card {
  background-color: #ffffff;
  -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-list-card__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #00000036;
  width: 100%;
  padding: 20px 60px;
}

@media (max-width: 1320px) {
  .car-list-card__img {
    padding: 20px 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media (max-width: 740px) {
  .car-list-card__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    border-right: none;
    border-bottom: 1px solid #00000036;
  }
}

.car-list-card__img img {
  width: 100%;
  height: 145px;
  -o-object-fit: contain;
     object-fit: contain;
}

.car-list-card__img span {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Museo Sans Cyrl 300';
  font-size: 12px;
  line-height: 23px;
  font-weight: 300;
  color: #1ed62c;
}

.car-list-card__img span.not {
  color: #c92e22;
}

.car-list-card__img span.not::before {
  background-color: #c92e22;
}

.car-list-card__img span::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #0ed31c;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

.main-button {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bb272b), to(#ff4b00));
  background-image: linear-gradient(0deg, #bb272b 0%, #ff4b00 100%);
  border-radius: 3px;
}

.car-list-card__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 90px;
}

@media (max-width: 1320px) {
  .car-list-card__body {
    padding: 0px 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 740px) {
  .car-list-card__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 20px 0;
    border-bottom: 1px solid #00000036;
  }
}

.car-list-card-togler {
  display: none;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.car-list-card-togler img {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 740px) {
  .car-list-card-togler {
    display: block;
  }
}

.car-list-card__body h2 {
  background: -webkit-gradient(linear, left bottom, left top, from(#ae3127), color-stop(54%, #ae3127), to(#fd4d01));
  background: linear-gradient(0deg, #ae3127 0%, #ae3127 54%, #fd4d01 100%);
  font-family: 'Museo Sans Cyrl 300';
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}

.car-list-card__body h3 {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
  color: #000000;
}

.car-list-card__body .marks span {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 11px;
  line-height: 23px;
  font-weight: 300;
  color: #33333380;
  margin-right: 2px;
}

.car-list-card__body .marks span:last-child {
  margin-right: 0;
}

@media (max-width: 740px) {
  .car-list-card__body ul {
    display: none;
  }
}

.car-list-card__body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.car-list-card__body ul li span {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 13px;
  line-height: 25px;
  font-weight: 300;
  color: #9e9e9e;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  white-space: nowrap;
}

@media (max-width: 1320px) {
  .car-list-card__body ul li span {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.car-list-card__body ul li p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 500;
  color: #333333;
  font-size: 13px;
  line-height: 25px;
}

.car-list-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 1320px) {
  .car-list-card__price {
    margin-left: auto;
  }
}

@media (max-width: 740px) {
  .car-list-card__price {
    margin-left: 0;
    padding: 20px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.car-list-card__price .search {
  background: #8893a0;
}

.car-list-card__price p {
  font-family: 'Museo Sans Cyrl 500';
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 12px;
  text-align: center;
}

.car-list-card__price button {
  margin-bottom: 16px;
}

.car-list-card__price span {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #333333;
  margin-bottom: 5px;
}

.pagination-car-list {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-car-list nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-car-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-car-list ul li {
  width: 30px;
  height: 30px;
  background-color: #dedede;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.pagination-car-list ul li.active {
  background-color: #dedede;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bb272b), to(#ff4b00));
  background-image: linear-gradient(0deg, #bb272b 0%, #ff4b00 100%);
}

.pagination-car-list ul li.active a {
  color: #ffffff;
}

.pagination-car-list ul li a {
  font-family: 'Museo Sans Cyrl 500';
  font-size: 14px;
  line-height: 40px;
  font-weight: 500;
  color: #000000;
}

.prev {
  width: 30px;
  height: 30px;
  background-color: #dedede;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}

@media (max-width: 740px) {
  .prev {
    margin-right: 10px;
  }
}

.next {
  width: 30px;
  height: 30px;
  background-color: #dedede;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}

@media (max-width: 740px) {
  .next {
    margin-left: 10px;
  }
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.sort__title {
  font-size: 15px;
  color: #000000;
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  margin-right: 20px;
  margin-bottom: 10px;
}

.sort__item {
  padding-bottom: 2px;
  font-size: 15px;
  color: #7e7e7e;
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-right: 20px;
  margin-bottom: 10px;
}

.sort__item:last-child {
  margin-right: 0;
}

.sort__item-active {
  color: #c52c24;
  border-color: #c52c24;
}
/*# sourceMappingURL=style-list.css.map */